extends layout.pug

block vars
  - let options = {company: company}
  - let page = "standings"
block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}

block content
  .container
    each competition, index in competitions.filter(x => x.name.indexOf(" R") ===-1) .sort(function(a,b){return a.name > b.name})
      include ./competition.pug

block scripts

  script. 
    async function scrollDivision(){
      const response = await fetch("/api/v2/account/me");

      if (!response.ok || response.redirected) return;

      const me = await response.json();

      const el = document.getElementById(me.bb3id);
      if (!el) return;
      const y = el.parentElement.getBoundingClientRect().top + window.pageYOffset -70 ;
      window.scrollTo({top: y});
    }

    $(document).ready(function(){
      scrollDivision();
    });

