extends layout.pug

block vars
  - let options = {company: company}

block head
  style.
    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}

block content
  .container
    - console.dir(competition)
    //each competition, index in [competition]
    include ./competition.pug