extends layout.pug

include functions.pug 

block head

block content
  .container
    .row
      .col-lg-4
        img(src='https://cdn.rebbl.net/images/bb3/StarPlayers/AnqiPanqi.png' width='140' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder' preserveaspectratio='xMidYMid slice' focusable='false')
          
        title Placeholder
        rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
        h2.fw-normal Anqi Panqi
        p
          | Some representative placeholder content for the three columns of text below the carousel. This is the first column.
        p
          a.btn.btn-secondary(href='#') View details &raquo;
      .col-lg-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder' preserveaspectratio='xMidYMid slice' focusable='false')
          title Placeholder
          rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
        h2.fw-normal Heading
        p
          | Another exciting bit of representative placeholder content. This time, we&apos;ve moved on to the second column.
        p
          a.btn.btn-secondary(href='#') View details &raquo;
      .col-lg-4
        svg.bd-placeholder-img.rounded-circle(width='140' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder' preserveaspectratio='xMidYMid slice' focusable='false')
          title Placeholder
          rect(width='100%' height='100%' fill='var(--bs-secondary-color)')
        h2.fw-normal Heading
        p And lastly this, the third column of representative placeholder content.
        p
          a.btn.btn-secondary(href='#') View details &raquo;  