mixin teamStat(title, statIds, homeTeamStats, awayTeamStats)
  - if (shouldRender(statIds, homeTeamStats, awayTeamStats))
    tr
      td= title
      each stats of [homeTeamStats, awayTeamStats]
        td= statIds.map(id => `${getStat(stats,id)}`)