include nav-link
doctype html
html(lang="en")
  head
    - if (process.env.NODE_ENV === 'production')
      link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/bootstrap.min.css")
      link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/font-awesome.css")
      link(rel="stylesheet" href="https://cdn2.rebbl.net/styles/style.css")
    - else  
      link(rel="stylesheet" href="/styles/bootstrap.min.css")
      link(rel="stylesheet" href="/styles/font-awesome.css")
      link(rel="stylesheet" href="/styles/style.css")
    block head
  block vars

  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  
  block body
    body(style="padding-top:170px" )
      a(href="/")
        div(class="u-bottomPadding--small-rebbl")
      nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="min-height:80px;z-index:2000;justify-content:unset")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblMainNav" aria-controls="rebblMainNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= active.toUpperCase()          
        div(class="collapse navbar-collapse" id="rebblMainNav")
          ul(class="navbar-nav mr-auto")
            +nav-link("User", "/admin/user")
            +nav-link("Strikes & Bans", "/admin/strikes")
            +nav-link("Unplayed", "/admin/unplayed")
            +nav-link("Expel admin teams", "/admin/divisions")
            +nav-link("Manage board", "/admin/board")
            +nav-link("Clan", "/admin/clan")
            +nav-link("Trophies", "/admin/trophies")
            +nav-link("Account", "/account")
            block additionalMainNavigation
      block navigation
        nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;")
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
          a(class="navbar-brand" href="#") &nbsp;
          div(class="collapse navbar-collapse" id="rebblSubNav")
            ul(class="navbar-nav mr-auto")
      main(role="main")
        block content  
          div(class="jumbotron")
            div(class="container")
              h1(class="display-3") REBBL
      footer(class="footer")
        div( style="float:right;")
          a(href="https://www.paypal.me/rebblnet" target="_blank")
            img(src="https://cdn2.rebbl.net/images/donate.png" title="Donate (soon)")  
          | &nbsp; &nbsp; &nbsp; 
          a(href="https://github.com/majorbyte/rebbl" ) source &nbsp;
        p(style="padding:10px") &nbsp; © majorbyte 2018 &nbsp; &nbsp; &nbsp;
      - if (process.env.NODE_ENV === 'production')
        script(src="https://cdn2.rebbl.net/scripts/jquery-3.3.1.slim.min.js")
        script(src="https://cdn2.rebbl.net/scripts/popper-1.14.7.min.js")
        script(src="https://cdn2.rebbl.net/scripts/bootstrap.min.js")        
      - else
        script(src="/scripts/jquery-3.3.1.slim.min.js")
        script(src="/scripts/popper-1.14.7.min.js")
        script(src="/scripts/bootstrap.min.js")        
      block scripts
