//- coachDetail.pug
extends sublayout.pug

block append vars
- var activeSubMenu = "signup"

block content
  div(class="container")
    h2 You need to login.
    form(action="/auth/reddit" method="get")
      button(type="submit") Login with Reddit
