extends ../relayout.pug 
include ../nav-item.pug

block prepend vars
  - var title = "REBBL"
  - var active = "account"
  - var activeSubMenu = "sign up"
  - var options = {company: "Account"}

block append scripts
  script(src="https://cdn2.rebbl.net/scripts/moment.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone-with-data-10-year-range.min.js")
  
block navigation
  .navbar-nav.mr-auto
    +nav-item("Details", "/account")
    +nav-item("Trophies", "/account/trophies")
    +nav-item("Match", "/account/match")
    +nav-item("Signup", "/signup")
    +nav-item("Signups", "/signup/signups")