extends ..\layout.pug 

block prepend vars
  - var title = "REBBL"
  - var active = "account"
  - var activeSubMenu = "sign up"

block append scripts
  script(src="https://cdn2.rebbl.net/scripts/moment.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone.min.js")
  script(src="https://cdn2.rebbl.net/scripts/moment-timezone-with-data-2012-2022.min.js")
  
block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= activeSubMenu.toUpperCase()
    div(class="collapse navbar-collapse" id="rebblSubNav")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item " + (activeSubMenu == "account" ? " active" : ""))
          a(href="/account" class="nav-link " + (activeSubMenu == "account" ? " highligh" : "")) Account
        li(class="nav-item " + (activeSubMenu == "match" ? " active" : ""))
          a(href="/account/match" class="nav-link " + (activeSubMenu == "match" ? " highligh" : "")) Match
        li(class="nav-item " + (activeSubMenu == "sign up" ? " active" : ""))
          a(href="/signup" class="nav-link " + (activeSubMenu == "sign up" ? " highligh" : "")) Sign up
        li(class="nav-item " + (activeSubMenu == "signups" ? " active" : ""))
          a(href="/signup/signups" class="nav-link " + (activeSubMenu == "signups" ? " highligh" : "")) Signups