extends ..\..\layout.pug

block vars
  - var options = {active: "coach", title: " "}

block additionalMainNavigation
  a(href="/coach" class="Tabs-tab Tabs-tab--active") COACH
  
block navigation
  div(class="Tabs Tabs--darkBackground")
     div(class="Tabs-header-wrapper")
       div(class="Tabs-header")
         div(class="Tabs-scroller-wrapper")
           div(class="Tabs-scroller")
             nav(class="Tabs-bar container")
               a(class="Tabs-tab" class="Tabs-tab" + (activeSubMenu == "teams" ? " Tabs-tab--active" : "")  href="teams"  style="padding-left:5px;padding-right:5px;") Teams
               a(class="Tabs-tab" class="Tabs-tab" + (activeSubMenu == "matches" ? " Tabs-tab--active" : "")  href="matches"  style="padding-left:5px;padding-right:5px;") Matches

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1()= name

        div(class="ScheduleMatchList")
          div(class="MatchSchedule")
            - if (matches)
              each match, index in matches.sort(function(a,b){return a.match_id < b.match_id ? 1 : -1;})
                br
                div(class="MatchRow MatchRow-match MatchRow-header" )= match.competition + ' - ' + match.round
                div(class="MatchRow MatchRow-match" )
                  include matches.pug
            - if (teams)
              each team, index in teams.sort(function(a,b){return a.team.id > b.team.id ? -1 :1})
                include team.pug
              