extends ..\..\layout.pug

block prepend vars
  - var options = {active: "coach", title: " "}
  - var activeSubMenu = "details"

block additionalMainNavigation
  li(class="nav-item active")
    a(href="#" class="nav-link highlight")= "COACH"
  
block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= activeSubMenu.toUpperCase()
    a(class="navbar-brand d-xs-none " href="#")= name || coachDetails.coach
    div(class="collapse navbar-collapse" id="rebblSubNav")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item " + (activeSubMenu == "details" ? " active" : ""))
          a(href="details" class="nav-link " + (activeSubMenu == "details" ? " highlight" : "")) Details
        - if (renderExtra || teams || matches)  
          li(class="nav-item " + (activeSubMenu == "teams" ? " active" : ""))
            a(href="teams" class="nav-link " + (activeSubMenu == "teams" ? " highlight" : "")) Teams
          li(class="nav-item " + (activeSubMenu == "matches" ? " active" : ""))
            a(href="matches" class="nav-link " + (activeSubMenu == "matches" ? " highlight" : "")) Matches

              