extends ..\..\coachlayout.pug



block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1()= name

        div(class="ScheduleMatchList")
          div(class="MatchSchedule")
            each match, index in matches.sort(function(a,b){return a.match_id < b.match_id ? 1 : -1;})
              br
              div(class="MatchRow MatchRow-match MatchRow-header" )= match.competition + ' - ' + match.round
              div(class="MatchRow MatchRow-match" )
                include matches.pug