{
  "swagger": "2.0",
  "info": {
    "description": "Rebbl.net API",
    "version": "2",
    "title": "Rebbl.net API"
  },
  "host": "rebbl.net",
  "basePath": "/api/v2",
  "tags": [
    {
      "name": "league",
      "description": "Get data about league"
    },
    {
      "name": "division",
      "description": "Operations about divisions"
    },
    {
      "name": "standings",
      "description": "Operations about league standings"
    },
    {
      "name": "team",
      "description": "Operations for a team"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/league": {
      "get": {
        "tags": [
          "league"
        ],
        "summary": "Find all leagues",
        "description": "Retrieve a list of all configures leagues in ReBBL",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/League"
              }
            }
          },
          "400": {
            "description": "something something error"
          }
        }
      }
    },
    "/league/{leagueName}/Seasons": {
      "get": {
        "tags": [
          "league"
        ],
        "summary": "Find seasons by League Name",
        "description": "Returns a single league",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Season"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      }
    },
    "/league/{leagueName}/{season}/slim/{round}": {
      "get": {
        "tags": [
          "league"
        ],
        "summary": "Get match results from entire league per season and round",
        "description": "Returns a single league",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "round",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LeagueSlim"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      }
    },
    "/division/{leagueName}/{seasonName}": {
      "get": {
        "tags": [
          "division"
        ],
        "summary": "Find divisions by league and season",
        "description": "Returns a list of division names",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Division"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/division/{leagueName}/{seasonName}/{divisionName}": {
      "get": {
        "tags": [
          "division"
        ],
        "summary": "Retrieve a divisions schedule",
        "description": "Returns a divisions entire fixture",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          },
          {
            "name": "divisionName",
            "in": "path",
            "description": "Name of Division",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Contest"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      }
    },
    "/division/{leagueName}/{seasonName}/{divisionName}/{round}": {
      "get": {
        "tags": [
          "division"
        ],
        "summary": "Retrieve a divisions schedule for a given round",
        "description": "Returns a divisions round",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          },
          {
            "name": "divisionName",
            "in": "path",
            "description": "Name of Division",
            "required": true,
            "type": "string"
          },
          {
            "name": "round",
            "in": "path",
            "description": "Round number",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Contest"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/division/{leagueName}/{seasonName}/{divisionName}/slim": {
      "get": {
        "tags": [
          "division"
        ],
        "summary": "Retrieve a divisions matchresult",
        "description": "Returns a divisions entire fixture",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          },
          {
            "name": "divisionName",
            "in": "path",
            "description": "Name of Division",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContestSlim"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          }
        }
      }
    },
    "/standings/{leagueName}/{seasonName}": {
      "get": {
        "tags": [
          "standings"
        ],
        "summary": "Get standings",
        "description": "Returns the standings for all divisions for given league and season",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Standing"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/standings/{leagueName}/{seasonName}/{divisionName}": {
      "get": {
        "tags": [
          "standings"
        ],
        "summary": "Get standings",
        "description": "Returns the standings for all divisions for given league and season",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "leagueName",
            "in": "path",
            "description": "Name of league",
            "required": true,
            "type": "string"
          },
          {
            "name": "seasonName",
            "in": "path",
            "description": "Name of season",
            "required": true,
            "type": "string"
          },
          {
            "name": "divisionName",
            "in": "path",
            "description": "Name of Division",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Standing"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/team/{teamId}": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Get team data",
        "description": "Returns a teams data and statistics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamData"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/team/{name}": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Get team data",
        "description": "Returns a teams data and statistics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "name of the team",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamData"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/team/{teamId}/players": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Get team roster",
        "description": "Returns the teams current roster and the players stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/team/{teamId}/retiredplayers": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Get teams old player",
        "description": "Returns a teams dead and sacked players, and their stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    },
    "/team/{teamId}/hiredplayers": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Get teams journeyman and star players",
        "description": "Returns a teams journeyman and star player, with their stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "Id of the team",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "League not found"
          }
        }
      }
    }
  },
  "definitions": {
    "League": {
      "type": "string"
    },
    "Season": {
      "type": "string"
    },
    "Division": {
      "type": "string"
    },
    "TeamData": {
      "type": "object",
      "description": "team object as supplied by Cyanide with accumulated stats"
    },
    "Player": {
      "type": "object",
      "description": "player object as supplied by Cyanide with accumulated stats "
    },
    "Coach": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "coach Id"
        },
        "name": {
          "type": "string",
          "description": "coach name"
        },
        "twitch": {
          "type": "string",
          "description": "If supplied by Cyanide, the coaches twitch url"
        },
        "youtube": {
          "type": "string",
          "description": "If supplied by Cyanide, the coaches youtube url"
        },
        "country": {
          "type": "string",
          "description": "country"
        },
        "lang": {
          "type": "string",
          "description": "language"
        }
      }
    },
    "Team": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Team id"
        },
        "name": {
          "type": "string",
          "description": "Name of the team"
        },
        "logo": {
          "type": "string",
          "description": "the teams logo"
        },
        "value": {
          "type": "integer",
          "description": "TV at start of the match"
        },
        "motto": {
          "type": "string",
          "description": "team's motto"
        },
        "score": {
          "type": "integer",
          "description": "TD's scored by the team"
        },
        "death": {
          "type": "integer",
          "description": "numberof deaths suffered"
        },
        "race": {
          "type": "string",
          "description": "race"
        }
      }
    },
    "ContestSlim": {
      "type": "object",
      "properties": {
        "round": {
          "type": "integer"
        },
        "match_uuid" : {"type":"string"},
        "homeCoachId" : {"type":"integer"},
        "homeCoachName" : {"type":"string"},
        "homeTeamId" : {"type":"integer"},
        "homeTeamName" : {"type":"string"},
        "homeTeamRace" : {"type":"string"},
        "homeScore" : {"type":"integer"},
        "awayCoachId" : {"type":"integer"},
        "awayCoachName" : {"type":"string"},
        "awayTeamId" : {"type":"integer"},
        "awayTeamName" : {"type":"string"},
        "awayTeamRace" : {"type":"string"},
        "awayScore" : {"type":"integer"}
      }
    },
    "Contest": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "description": "internal id"
        },
        "league": {
          "type": "string",
          "description": "Name of the league"
        },
        "league_id": {
          "type": "integer",
          "description": "Id for the league"
        },
        "competition": {
          "type": "string",
          "description": "Name of the division"
        },
        "competition_id": {
          "type": "integer",
          "description": "Id for the division"
        },
        "contest_id": {
          "type": "integer",
          "description": "Id for a particular contest, i.e entry in fixuture"
        },
        "format": {
          "type": "string",
          "description": "round_robin|knockout|ladder|wissen"
        },
        "round": {
          "type": "integer"
        },
        "type": {
          "type": "string",
          "description": "contest type"
        },
        "status": {
          "type": "string",
          "description": "played|scheduled"
        },
        "stadium": {
          "type": "string",
          "description": "type of stadium"
        },
        "match_uuid": {
          "type": "string",
          "description": "match's uuid"
        },
        "match_id": {
          "type": "integer",
          "description": "match's Id"
        },
        "opponents": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "coach": {
                "$ref": "#/definitions/Coach"
              },
              "team": {
                "$ref": "#/definitions/Team"
              }
            }
          },
          "minItems": 2,
          "maxItems": 2
        },
        "winner": {
          "type": "object",
          "properties": {
            "coach": {
              "$ref": "#/definitions/Coach"
            },
            "team": {
              "$ref": "#/definitions/Team"
            }
          }
        }
      }
    },
    "LeagueSlim": {
      "type": "object",
      "properties": {
        "division":{
          "type":"string"
        },
        "round": {
          "type": "integer"
        },
        "match_uuid": {
          "type": "string"
        },
        "homeCoachId" : {"type":"integer"},
        "homeCoachName" : {"type":"string"},
        "homeTeamId" : {"type":"integer"},
        "homeTeamName" : {"type":"string"},
        "homeTeamRace" : {"type":"string"},
        "homeScore" : {"type":"integer"},
        "awayCoachId" : {"type":"integer"},
        "awayCoachName" : {"type":"string"},
        "awayTeamId" : {"type":"integer"},
        "awayTeamName" : {"type":"string"},
        "awayTeamRace" : {"type":"string"},
        "awayScore" : {"type":"integer"}
      }
    },
    "Standing": {
      "type": "object",
      "properties": {
        "_id": {
          "type": "string",
          "description": "internal id"
        },
        "id": {
          "type": "integer",
          "description": "coach id"
        },
        "coach": {
          "type": "string",
          "description": "coach name"
        },
        "league": {
          "type": "string",
          "description": "league name"
        },
        "competition": {
          "type": "string",
          "description": "division name"
        },
        "season": {
          "type": "string",
          "description": "season name"
        },
        "team": {
          "type": "string",
          "description": "team name"
        },
        "teamId": {
          "type": "integer",
          "description": "team id"
        },
        "race": {
          "type": "string",
          "description": "race name"
        },
        "points": {
          "type": "integer",
          "description": "accumulated points"
        },
        "games": {
          "type": "integer",
          "description": "number of games played"
        },
        "win": {
          "type": "integer",
          "description": "number of games won"
        },
        "loss": {
          "type": "integer",
          "description": "number of games lost"
        },
        "draw": {
          "type": "integer",
          "description": "number of games drawn"
        },
        "tddiff": {
          "type": "integer",
          "description": "touchdown differential"
        },
        "strength": {
          "type": "number",
          "description": "coach's strength, used in calculating SoS"
        },
        "strengthOfSchedule": {
          "type": "number",
          "description": "Strength of Schedule. the sum of a coach's opponents Strength's"
        },
        "position": {
          "type": "integer",
          "description": "Resulting position"
        }
      }
    }
  }
}