extends ../layout.pug

block vars 
  - let page = "User"

block scripts
  script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-mapping.min.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-es5.js")
  script.

    class User{
      constructor(data){
        const self = this;
        self.coach = data.coach;
        self.bb3coach = data.bb3coach;
        self.discord = data.discord;
        self.reddit = data.reddit;
        self.timezone = data.timezone;
        self.roles = data.roles;

        ko.track(this);

      }
    }

    function DateModel() {
        const self = this;
        // Editable data
        self.users = ko.observableArray([]);
        self.coach = ko.observable();
        self.bb3coach = ko.observable();
        self.discord = ko.observable();
        self.reddit = ko.observable();
        self.loading = ko.observable(true);
        self.showBB2 = ko.observable(false);
        self.filteredUsers = ko.computed(function() {
          let users = self.users().filter(x => (self.showBB2() && x.coach != undefined) || x.bb3coach != undefined )

          if(!self.coach() && !self.reddit() && !self.discord()&& !self.bb3coach()) {
              return users.sort((a,b) => a.coach?.toLowerCase() > b.coach?.toLowerCase() ? 1 : -1 ); 
          } else {
            
            if(self.coach()){
              users= ko.utils.arrayFilter(users, function(user) {
                let regex = new RegExp("^"+self.coach(), "i");
                return regex.test(user.coach);
              });
            }

            if(self.bb3coach()){
              users= ko.utils.arrayFilter(users, function(user) {
                let regex = new RegExp("^"+self.bb3coach(), "i");
                return regex.test(user.bb3coach);
              });
            }

            if(self.discord()){
              users= ko.utils.arrayFilter(users, function(user) {
                let regex = new RegExp("^"+self.discord(), "i");
                return regex.test(user.discord);
              });
            }

            if(self.reddit()){
              users= ko.utils.arrayFilter(users, function(user) {
                let regex = new RegExp("^"+self.reddit(), "i");
                return regex.test(user.reddit);
              });
            }


            return users;
          }
        });

        self.toggleCoaches = function(data,event){
          self.showBB2(!self.showBB2());
          $(event.currentTarget || event.target ).toggleClass("btn-outline-primary");
          $(event.currentTarget || event.target ).toggleClass("btn-primary");
        }
    }

    const model = new DateModel();
    $(document).ready(async function(){
        ko.applyBindings(model);

        const response = await fetch("/api/v1/admin/user");
        if (response.ok) model.users((await response.json()).map(x => new User(x)));
        
        model.loading(false);
    });

block content
  .container
    .row.ol-12
      .col-2 BB2 Coach
      .col-2 BB3 Coach
      .col-2 Discord
      .col-2 Reddit
      .col-2.text-center
        button.btn.btn-sm.btn-outline-primary(role="button" data-bind="attr:{href: 'user/add' },click:toggleCoaches" aria-pressed="true"  ) show bb2 coaches
      .col-2.text-center
        a.btn.btn-sm.btn-primary(role="button" data-bind="attr:{href: 'user/add' }" aria-pressed="true") new
    .row.col-12
      .col-2
        label(style="float: left; margin-left: -75px;") search
        input(data-bind="textInput : coach")
      .col-2
        input(data-bind="textInput : bb3coach")
      .col-2
        input(data-bind="textInput : discord")
      .col-2
        input(data-bind="textInput : reddit")
    //ko if: loading
    .row.d-flex.justify-content-center
      .goblin-dark
    // /ko
    div(data-bind="foreach: filteredUsers" )
      .user-row.row.col-12
        a(class="col-12" data-bind="attr:{href: 'user/' + reddit }")   
          div(style="min-width:25px;margin-left:-25px;")
            //ko if: $data.roles && $data.roles.indexOf('superadmin') > -1
            i(class="fa-solid fa-star" style="color:rgb(10, 150, 63);float:left" title="superadmin")
            // /ko
            //ko if: $data.roles && $data.roles.indexOf('admin') > -1 && $data.roles.indexOf('superadmin') == -1
            i(class="fa-solid fa-star" style="color: #e67b00;float:left" title="admin")
            // /ko
            //ko if: $data.roles && $data.roles.indexOf('clanadmin') > -1 && $data.roles.indexOf('superadmin') == -1 && $data.roles.indexOf('admin') == -1
            i(class="fa-solid fa-star" style="color:rgb(53, 67, 255);float:left" title="admin")
            // /ko
          .col-12.row
            .col-2(data-bind="text: $data.coach" style="overflow:hidden;")
            .col-2(data-bind="text: $data.bb3coach" style="overflow:hidden;")
            .col-2(data-bind="text: $data.discord" style="overflow:hidden;")
            .col-2(data-bind="text: $data.reddit" style="overflow:hidden;")






