extends ../layout.pug



block scripts
  script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-mapping.min.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-es5.js")
  script.

    class User{
      constructor(data){
        const self = this;
        self.coach = data.coach;
        self.bb3coach = data.bb3coach;
        self.discord = data.discord;
        self.reddit = data.reddit;
        self.timezone = data.timezone;
        self.roles = data.roles;

        ko.track(this);

      }
    }

    function DateModel() {
        const self = this;
        // Editable data
        self.users = ko.observableArray([]);
        self.coach = ko.observable();
        self.bb3coach = ko.observable();
        self.discord = ko.observable();
        self.reddit = ko.observable();
        self.loading = ko.observable(true);
        self.filteredUsers = ko.computed(function() {
          if(!self.coach() && !self.reddit() && !self.discord()&& !self.bb3coach()) {
              return self.users().sort((a,b) => a.coach?.toLowerCase() > b.coach?.toLowerCase() ? 1 : -1 ); 
          } else {
            
            let users = null;

            if(self.coach()){
              users= ko.utils.arrayFilter(self.users(), function(user) {
                let regex = new RegExp("^"+self.coach(), "i");
                return regex.test(user.coach);
              });
            }

            if(self.bb3coach()){
              users= ko.utils.arrayFilter(self.users(), function(user) {
                let regex = new RegExp("^"+self.bb3coach(), "i");
                return regex.test(user.bb3coach);
              });
            }

            if(self.discord()){
              users= ko.utils.arrayFilter(users || self.users(), function(user) {
                let regex = new RegExp("^"+self.discord(), "i");
                return regex.test(user.discord);
              });
            }

            if(self.reddit()){
              users= ko.utils.arrayFilter(users || self.users(), function(user) {
                let regex = new RegExp("^"+self.reddit(), "i");
                return regex.test(user.reddit);
              });
            }


            return users;
          }
        });
    }

    const model = new DateModel();
    $(document).ready(async function(){
        ko.applyBindings(model);

        const response = await fetch("/api/v1/admin/user");
        if (response.ok) model.users((await response.json()).map(x => new User(x)));
        
        model.loading(false);
    });

    

block content
  div(class="container")
    div(class="row col-12")
      div(class="col-2") BB2 Coach
      div(class="col-2") BB3 Coach
      div(class="col-2") Discord
      div(class="col-2") Reddit
      div(class="col-2") Timezone
      a(role="button" class="col-2 btn btn-primary" data-bind="attr:{href: 'user/add' }" aria-pressed="true") new
    div(class="row col-12")
      div(class="col-2") 
        label(style="float: left; margin-left: -75px;") search
        input(data-bind="textInput : coach")
      div(class="col-2") 
        input(data-bind="textInput : bb3coach")
      div(class="col-2") 
        input(data-bind="textInput : discord")
      div(class="col-2") 
        input(data-bind="textInput : reddit")
    //ko if: loading
    div(class="row col-12 justify-content-center")
      i(class="fa-solid fa-spinner fa-spin" style="margin-top:250px;font-size:96px;color: #e67b00;")
    // /ko
    div(data-bind="foreach: filteredUsers" )
      div(class="user-row row col-12")
        a(class="col-12" data-bind="attr:{href: 'user/' + reddit }")   
          div(style="min-width:25px;margin-left:-25px;")
            //ko if: $data.roles && $data.roles.indexOf('admin') > -1
            i(class="fa-solid fa-star" style="color: #e67b00;float:left" title="admin")
            // /ko
          div(class="col-12 row" )
            div(data-bind="text: $data.coach" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.bb3coach" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.discord" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.reddit" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.timezone" class="col-2" style="overflow:hidden;")






