extends ../no-cache-sub-relayout.pug
include ../nav-link

block vars


block head
  style.
    /* latin-ext */
    @font-face {
      font-family: 'Bungee Inline';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/webfonts/bungee-inline.woff2) format('woff2');
    }

  style.
    h5 {
      font-family: "Bungee Inline", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    h2{margin-top:0px;margin-bottom:0px;margin-right:15px}
    .card{width: 12rem;}

block content
  div.container.navcontainer(style="display:flex;flex-flow:wrap" data-index="0")
    each team in teams.sort(function(a,b){return a.name > b.name ? 1 : -1})
      div.card.m-1
        img.card-img-top(src=`https://cdn.rebbl.net/images/bb3/Logos/${team.logo.replace("Neutral","Neutre").replace("ChaosChosen","Chaos")}.png` alt="...")
        div.card-body
          h5.card-title(style="color: rgb(24, 119, 162)")= team.name
            p.card-text= team.value 
            p.card-text= team.coach.name
            a(style="    position: absolute;bottom: 10px;right: 10px;font-size: 2em;" href=`/zfl/${team.id}`)
              i(class="fa-solid fa-arrow-circle-right")


