script.
  class ValidationModel{
    constructor(data){
      this.map(data || {});
    }
    map(data){
      this.sppTradeErrors = data.sppTradeErrors || [];
      this.sppTradeSkillErrors = data.sppTradeSkillErrors || [];
      this.sppTradeAccounting = data.sppTradeAccounting || [];
      this.incompleteTeamErrors = data.incompleteTeamErrors || [];
      this.freshTeamErrors = data.freshTeamErrors?.filter(x => x != null) || [];
      this.returningTeamErros = data.returningTeamErros?.filter(x => x != null) || [];
      this.clanErrors = data.clanErrors?.filter(x => x != null) || [];
      this.cheatingErrors = data.cheatingErrors?.filter(x => x != null) || [];
    }

    noErrors = () => 0 >= this.sppTradeErrors.length + this.sppTradeSkillErrors.length + this.sppTradeAccounting.length + this.incompleteTeamErrors.length + this.freshTeamErrors.length + this.returningTeamErros.length + this.clanErrors + this.cheatingErrors;
  }