block append vars
  -
    const races = [
        {
            code: 1000, 
            data: "Black Orc", 
        }, 
        {
            code: 8, 
            data: "Chaos Chosen", 
        }, 
        {
            code: 1001, 
            data: "Chaos Renegade", 
        }, 
        {
            code: 9, 
            data: "Dark Elf", 
        }, 
        {
            code: 2, 
            data: "Dwarf", 
        }, 
        {
            code: 14, 
            data: "Elven Union", 
        }, 
        {
            code: 6, 
            data: "Goblin", 
        }, 
        {
            code: 11, 
            data: "Halfling", 
        }, 
        {
            code: 1, 
            data: "Human", 
        }, 
        {
            code: 24, 
            data: "Imperial Nobility", 
        }, 
        {
            code: 23, 
            data: "Khorne", 
        }, 
        {
            code: 5, 
            data: "Lizardman", 
        }, 
        {
            code: 17, 
            data: "Necromantic Horror", 
        }, 
        {
            code: 15, 
            data: "Norse", 
        }, 
        {
            code: 18, 
            data: "Nurgle", 
        }, 
        {
            code: 1002, 
            data: "Old World Alliance", 
        }, 
        {
            code: 4, 
            data: "Orc", 
        }, 
        {
            code: 10, 
            data: "Shambling Undead", 
        }, 
        {
            code: 3, 
            data: "Skaven", 
        }, 
        {
            code: 29, 
            data: "Slaanesh", 
        }, 
        {
            code: 1004, 
            data: "Tzeentch", 
        }, 
        {
            code: 22, 
            data: "Underworld Denizen", 
        }, 
        {
            code: 7, 
            data: "Wood Elf", 
        }];

    const getRace = id => races.find(x => x.code === Number(id)).data; 