doctype html
head
  link(rel='stylesheet' href='https://cdn.rebbl.net/styles/font-awesome.css')
  link(rel='stylesheet' href='https://cdn.rebbl.net/styles/v2/bootstrap.dark.min.css')
  link(rel='stylesheet' href='https://cdn.rebbl.net/styles/v2/style.dark.css')
  link(rel="icon" type="image/png" href="https://cdn.rebbl.net/images/villey.png")
  title Villeynich's Guides
body.container.my-1(style="background-color:#434446;color:#c6c3c3;")
  .row.col-12.justify-content-center.align-center
    .col-12.col-l-6.col-xl-6.row
      img.col-9(src='https://cdn.rebbl.net/images/villey-guides.png' alt='coverimage.png')
      img.col-3.my-auto(src='https://cdn.rebbl.net/images/villey.png' alt='112.png')
    div
      p
        | Welcome to my cheat sheets for new players. They contain a working team build to start with and skill
        | progression for the first few level ups.
      p &nbsp;
      p
        span
          | As these are intended for new players, that has weighed into my decision for the skill progression, e.g.
          | I have severely devalued the Dirty Player skill as fouling is a complicated part of the game. Similarly, for
          | the team builds, I have tried to include a variety of players on team builds, as I believe that makes the game
          | more interesting for new coaches. Lastly, on this page, you will find &lsquo;
        span.text-success recommended
        | &rsquo;, &lsquo;
        span.text-warning challenging
        | &rsquo; and &lsquo;
        span.text-danger not-recommended
        | &rsquo; teams listed.
      p
        br
        | Enjoy your games and good luck on the pitch!
  .row.col-12.align-center.justify-content-center
    .card.m-1
      .card-header.py-0
        p Amazon
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_amazons.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_amazon_05.png' alt='logo_Amazon_05.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Bretonnian
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_brets.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_bretonnia_02.png' alt='logo_Bretonnia_02.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Chaos
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_chaos.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_chaos_08.png' alt='logo_Chaos_08.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Chaos Dwarf
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_chorfs.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_chaosdwarf_06.png' alt='logo_ChaosDwarf_06.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Dark Elf
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_de.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_darkelf_01.png' alt='logo_DarkElf_01.png')
      .card-footer.bg-success
        span.text-light recommended
    .card.m-1
      .card-header.py-0
        p Dwarf
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_dwarfs.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_dwarf_09.png' alt='logo_Dwarf_09.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Elven Union
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_elvenunion.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_elf_02.png' alt='logo_Elf_02.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p High Elf
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_highelves.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_highelf_06.png' alt='logo_HighElf_06.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Human
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_humans.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_human_02.png' alt='logo_Human_02.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Khemri
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_khemri.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_khemri_02.png' alt='logo_Khemri_02.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Kislev
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_kislev.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_kislev_04.png' alt='logo_Kislev_04.png')
      .card-footer.bg-danger
        span.text-light not recommended
    .card.m-1
      .card-header.py-0
        p Lizardmen
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_lizardmen.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_lizardman_01.png' alt='logo_Lizardman_01.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Necromantic
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_necro.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_necromantic_03.png' alt='logo_Necromantic_03.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Norse
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_norse.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_norse_14.png' alt='logo_Norse_14.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Nurgle
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_nurgle.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_nurgle_07.png' alt='logo_Nurgle_07.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Orc
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_orcs.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_orc_05.png' alt='logo_Orc_05.png')
      .card-footer.bg-success
        span.text-light recommended
    .card.m-1
      .card-header.py-0
        p Skaven
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_skaven.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_skaven_08.png' alt='logo_Skaven_08.png')
      .card-footer.bg-warning
        span.text-light challenging
    .card.m-1
      .card-header.py-0
        p Undead
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_undead.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_undead_11.png' alt='logo_Undead_11.png')
      .card-footer.bg-success
        span.text-light recommended
    .card.m-1
      .card-header.py-0
        p Underworld
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_uw.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_underworld_01.png' alt='logo_Underworld_01.png')
      .card-footer.bg-danger
        span.text-light not recommended
    .card.m-1
      .card-header.py-0
        p Vampires
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_vampires.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_vampire_07.png' alt='logo_Vampire_07.png')
      .card-footer.bg-danger
        span.text-light not recommended
    .card.m-1
      .card-header.py-0
        p Wood Elf
      .card-body
        a(href='https://cdn.rebbl.net/Guides/PDFs/villeynich_guide_we.pdf' target='_blank')
          img(src='https://cdn.rebbl.net/images/logo/256x256/logo_woodelf_18.png' alt='logo_WoodElf_18.png')
      .card-footer.bg-warning
        span.text-light challenging
    .row.align-center.col-12
      p.Basisalinea.para-style-override-1
        span.char-style-override-2
          | You can frequently find me in one
          | of the Blood Bowl streams on Twitch. I occasionally stream over at:
        a(href='https://www.twitch.tv/villeynich')
          span.char-style-override-6 twitch.tv/villeynich
        span.char-style-override-6
