doctype html
html
  head
    link(rel="stylesheet" href="/styles/style.css")
  block vars
  - var activeRound = (options && options.round) ? options.round : -1
  - var renderRounds = (options && options.rounds) ? options.rounds : [1,2,3,4,5,6]
  - var textRound =  (options && options.text) ? options.text : "Round "
  - var active =  (options && options.active) ? options.active : "WCQ"
  - var title= (options && options.title) ? options.title : "REBBL 2018 World Cup Qualifiers"
  body(class="en_US")
    div(class="Wrap Background")
      section(class="Section  Section--no-sides Section--thin-top u-bottomPadding--none")
        #schedule
          div(class="Schedule")
            div(class="container")
              div(class="col-sm-8" style="float:left;padding-left:0px")
                h1= title
              div(class="row u-bottomPadding--small")
            div(class="Tabs Tabs--rectangular")
              div(class="Tabs-header-wrapper")
                div(class="Tabs-header")
                  div(class="Tabs-scroller-wrapper")
                    div(class="Tabs-scroller")
                      nav(class="Tabs-bar container")
                        a(href="/wcq" class="Tabs-tab " + (active === "WCQ" ? "Tabs-tab--active" : "")) WCQ 2018
                        a(href="/rebbl/Big O" class="Tabs-tab " + (active.toUpperCase() === "BIG O" ? "Tabs-tab--active" : "")) BIG O
                        a(href="/rebbl/GMan" class="Tabs-tab " + (active.toUpperCase() === "GMAN" ? "Tabs-tab--active" : "")) GMAN
                        a(href="/rebbl/REL" class="Tabs-tab " + (active.toUpperCase() === "REL" ? "Tabs-tab--active" : "")) REL
            block navigation
              div(class="Tabs Tabs--darkBackground")
                div(class="Tabs-header-wrapper")
                  div(class="Tabs-header")
                    div(class="Tabs-scroller-wrapper")
                      div(class="Tabs-scroller")
                        nav(class="Tabs-bar container")
                          a(href="/wcq" class="Tabs-tab" + (activeRound == 0 ? " Tabs-tab--active" : "") ) Standings
                          each round in renderRounds
                            a(class="Tabs-tab"  + (activeRound == round ? " Tabs-tab--active" : "") href="/wcq/round/"+round)= textRound + round
            block content