include nav-link
include nav

block head
  style.
    .dropdown-toggle::after {display: none}
    .dropdown-toggle::before {display: inline-block;padding: 0rem 0.5rem;font: normal normal normal 12px/1 'Font Awesome 6 Free';content: "\f078";vertical-align:0.5em;}
    .jiggle {-webkit-animation: jiggle 3s infinite;-moz-animation-duration: 3s;-moz-animation-name: jiggle;-moz-animation-iteration-count: infinite;-webkit-transform: rotate(0deg);-moz-transform: rotate(-0deg);}

    @-moz-keyframes jiggle {80% {-moz-transform: rotate(0deg);}84% {-moz-transform: rotate(3deg);}88% {-moz-transform: rotate(-3deg);}92% {-moz-transform: rotate(3deg);}96% {-moz-transform: rotate(-3deg);}100% {-moz-transform: rotate(0deg);}}
    @-webkit-keyframes jiggle {80% {-moz-transform: rotate(0deg);}84% {-moz-transform: rotate(3deg);}88% {-moz-transform: rotate(-3deg);}92% {-moz-transform: rotate(3deg);}96% {-moz-transform: rotate(-3deg);}100% {-moz-transform: rotate(0deg);}}

block vars

- if (!active) { var active =  (options && options.active) ? options.active : "" }
- let renderCompany = (options && options.company) ? options.company : "frontpage"
-
  let companyName = renderCompany
  let logo = "skills/CardSet.png"
  let cls = ""
  let ref = "#"
  switch(renderCompany){
    case "rebbl":
      companyName = "ReBBL";
      logo = "rebbl.png"
      ref = `/${renderCompany}`;
      break;
    case "rebbrl":
      companyName = "ReBBL";
      logo = "rebbrl.png";
      ref = `/${renderCompany}`;
      break;
    case "clan":
      companyName = "Clan";
      logo = "clan.png"
      ref = `/${renderCompany}`;
      break;
    case "frontpage":
      companyName = "";
      cls="jiggle";
      break;
  }

block body
  +nav(renderCompany)
  main(role="main")
    block content  
      div(class="jumbotron")
        div(class="container")
          h1(class="display-3") REBBL

  footer(class="footer" style="margin-top:0px")
    div(class="container-fluid")
      div(class="row")
        div(class="col-sm text-center text-sm-left m-2")
          p(class="p-2") <i class="fa-solid fa-copyright fa-flip-horizontal"></i> majorbyte 2023
        div(class="col-sm text-center m-2")
          a(class="m-1" href="/rebbl" target="_blank" title="REBBL home")
            img(src="https://cdn.rebbl.net/images/rebbl.png" )  
          a(class="m-1" href="https://rebbl.net" target="_blank" title="REBBL BB3 home")
            img(src="https://cdn.rebbl.net/images/bb3.png" )  
          a(class="m-1" href="/rebbrl" title="REBBRL home")
            img(src="https://cdn.rebbl.net/images/rebbrl.png" )  
          a(class="m-1" href="https://clan.rebbl.net" ) 
            img(src="https://cdn.rebbl.net/images/clan.png" )  
        div(class="col-sm text-center text-sm-right m-2")
          span(class="p-2") Donate:
          a(href="https://www.paypal.me/rebblnet" target="_blank")
            img(src="https://cdn.rebbl.net/images/donate.png" title="Donate")  
          a(class="p-2" href="https://github.com/majorbyte/rebbl" ) source
  - if (process.env.NODE_ENV === 'production')
    - if ( fullJquery)
      script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.full.min.js")
    -else
      script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.slim.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/popper.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/bootstrap.min.js")        
  -else
    - if ( fullJquery)
      script(src="/scripts/jquery-3.3.1.full.min.js")
    -else
      script(src="/scripts/jquery-3.3.1.slim.min.js")
    script(src="/scripts/v2/popper.min.js")
    script(src="/scripts/v2/bootstrap.min.js")        
  block scripts
