include nav-link

block head

block vars

- if (!active) { var active =  (options && options.active) ? options.active : "" }
- let renderCompany = (options && options.company) ? options.company : ""
- if (!className) { var className = (options && options.company) ? options.company : "rebbl"}

block body
  - if (renderCompany != "")
    a(href="/" title="to the frontpage!")
      div(class=`u-bottomPadding--small-${className}`)
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="min-height:80px;z-index:2000;justify-content:unset")
    .container-fluid  
      button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rebblMainNav" aria-controls="rebblMainNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= active.toUpperCase()          
      div(class="collapse navbar-collapse" id="rebblMainNav")
        ul(class="navbar-nav me-auto")
          -if(renderCompany == "")
            li 
              a(href="/bb2/rebbl")
                div(style="height: 4em;width: 6em;background: rgba(255, 255, 255, 0) url(https://cdn.rebbl.net/images/rebbl.png) no-repeat; background-size: 6em;left: 5px;position: fixed;top: 5px;z-index: 9999;" title="Reddit Eternal Blood Bowl League")
            li 
              a(href="/bb3")
                div(style="height: 4em;width: 4em;background: rgba(255, 255, 255, 0) url(https://cdn.rebbl.net/images/bb3.png) no-repeat 99%;background-size: 3.5em;left: 25%;position: fixed;top: 5px;z-index: 9999;" title="ReBBL BB3")
            li 
              a(href="/rebbrl")
                div(style="height: 4em;width: 4em;background: rgba(255, 255, 255, 0) url(https://cdn.rebbl.net/images/rebbrl.png) no-repeat 99%;background-size: 3.5em;left: 25%;position: fixed;top: 5px;z-index: 9999;" title="Rookie League")
            li 
              a(href="/clan")
                div(style="height: 4em;width: 4em;background: rgba(255, 255, 255, 0) url(https://cdn.rebbl.net/images/clan.png) no-repeat 99%;background-size: 4em;left: 50%;position: fixed;top: 5px;z-index: 9999;" title="Clan League")
            li 
              a(href="https://bounties.rebbl.net" target="_blank")
                div(style="height: 4em;width: 4em;background: rgba(255, 255, 255, 0) url(https://cdn.rebbl.net/images/donate.png) no-repeat 99%;left: 75%;position: fixed;top: 5px;z-index: 9999;" title="Bounty Board")

          -if(renderCompany == "rebbl")
            +nav-link("Home", "/bb2/rebbl")
            +nav-link("Big O")
            +nav-link("Gman")
            +nav-link("REL")
            +nav-link("RAMPUP", "/bb2/rebbl/rampup")
            +nav-link("Stunty")
            +nav-link("Elfly", "/bb2/rebbl/XScessively Elfly League")
            +nav-link("Beer", "/bb2/rebbl/standings/REBBLL%20")
            +nav-link("Account", "/account")
          -if(renderCompany == "rebbrl")
            +nav-link("Home", "/rebbrl")
            +nav-link("College", "/bb2/rebbrl/ReBBRL College League")
            +nav-link("Minors", "/bb2/rebbrl/ReBBRL Minors League")
            +nav-link("Upstarts", "/bb2/rebbrl/ReBBRL Upstarts")
            +nav-link("Account", "/account")
          -if(renderCompany == "clan")
            +nav-link("Home", "/clan")
            +nav-link("Divisions", "/clan/Divisions")
            +nav-link("Clan", "/clan/clan")
            +nav-link("Account", "/account")          
          block additionalMainNavigation

  block navigation
    nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;")
      .container-fluid
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        a(class="navbar-brand" href="#") &nbsp;
        div(class="collapse navbar-collapse" id="rebblSubNav")
          - if (options && options.img)
            img(src= options.img style="height:4em;margin: 0 auto" title="sponsored by:")          
          - else  
            ul(class="navbar-nav me-auto")
  main(role="main")
    block content  
      div(class="jumbotron")
        div(class="container")
          h1(class="display-3") REBBL

  footer(class="footer")
    div( style="float:left;")
      p(style="padding:10px") &nbsp; <i class="fa-solid fa-copyright fa-flip-horizontal"></i> majorbyte 2023 &nbsp; &nbsp; &nbsp;
    div( style="float:right;")
      span(class="margin-right:7px") Donate:
      a(href="https://www.paypal.me/rebblnet" target="_blank")
        img(src="https://cdn.rebbl.net/images/donate.png" title="Donate")  
      | &nbsp; &nbsp; &nbsp; 
      a(href="https://github.com/majorbyte/rebbl" ) source &nbsp;
    div( style="margin:0 auto;width:250px")
      span(class="margin-right:7px") 
      a(href="/bb2/rebbl" target="_blank" title="REBBL home")
        img(src="https://cdn.rebbl.net/images/rebbl.png" )  
      a(href="/bb3" target="_blank" title="REBBL BB3 home")
        img(src="https://cdn.rebbl.net/images/bb3.png" )  
      a(href="/rebbrl" title="REBBRL home")
        img(src="https://cdn.rebbl.net/images/rebbrl.png" )  
      a(href="/clan" ) 
        img(src="https://cdn.rebbl.net/images/clan.png" )  
  - if (process.env.NODE_ENV === 'production')
    - if ( fullJquery)
      script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.full.min.js")
    -else
      script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.slim.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/popper.min.js")
    script(src="https://cdn.rebbl.net/scripts/v2/bootstrap.min.js")        
  -else
    - if ( fullJquery)
      script(src="/scripts/jquery-3.3.1.full.min.js")
    -else
      script(src="/scripts/jquery-3.3.1.slim.min.js")
    script(src="/scripts/v2/popper.min.js")
    script(src="/scripts/v2/bootstrap.min.js")        
  block scripts
