include nav-link
doctype html
html(lang="en")
  head
    - if (process.env.NODE_ENV === 'production')
      link(rel="stylesheet" href="https://cdn.rebbl.net/styles/fontawesome.min.css")
      link(rel="stylesheet" href="https://cdn.rebbl.net/styles/solid.min.css")
      - if (user && user.useDark) 
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/bootstrap.dark.min.css")
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/style.dark.css")
      - else
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/style.css")
    -else
      link(rel="stylesheet" href="/styles/fontawesome.min.css")
      link(rel="stylesheet" href="/styles/solid.min.css")
      - if (user && user.useDark) 
        link(rel="stylesheet" href="/styles/bootstrap.dark.min.css")
        link(rel="stylesheet" href="/styles/style.dark.css")
      - else
        link(rel="stylesheet" href="/styles/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/style.css")
    block head
  block vars
    
  body(style="padding-top:170px" ) !{data}
