include nav
doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, manimum-scale=1.0, maximum-scale=1.0")
    block title
    - if (process.env.NODE_ENV === 'production')
      link(rel="stylesheet" href="https://cdn.rebbl.net/styles/fontawesome.min.css")
      link(rel="stylesheet" href="https://cdn.rebbl.net/styles/solid.min.css")
      - if (user && user.useDark || user && user.account && user.account.useDark) 
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/v2/bootstrap.dark.min.css")
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/v2/style.dark.css")
      - else
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/v2/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.rebbl.net/styles/v2/style.css")
    - else
      link(rel="stylesheet" href="/styles/fontawesome.min.css")
      link(rel="stylesheet" href="/styles/solid.min.css")
      - if (user && user.useDark || user && user.account && user.account.useDark) 
        link(rel="stylesheet" href="/styles/v2/bootstrap.dark.min.css")
        link(rel="stylesheet" href="/styles/v2/style.dark.css")
      - else
        link(rel="stylesheet" href="/styles/v2/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/v2/style.css")
    style. 
      .callout {
        padding:1.25rem;
        margin-top:1.25rem;
        margin-bottom:1.25rem;
        color:var(--callout-color, inherit);
        background-color:var(--callout-bg, var(--bs-gray-100));
        border-left:0.25rem solid var(--callout-border, var(--bs-gray-300))
      }

    - if (user && user.useDark || user && user.account && user.account.useDark) 
      style. 
        .callout-info {
          --callout-color: : rgb(110, 223, 246);
          --callout-bg: rgb(3, 40, 48);
          --callout-border: #087990;
        }        

    - else
      style. 
        .callout-info {
          --callout-color: var(--bs-info-text-emphasis);
          --callout-bg: var(--bs-info-bg-subtle);
          --callout-border: var(--bs-info-border-subtle)
        }        

    style.
      body{padding-top: 3rem;padding-bottom: 1rem;}
      main{min-height: calc(100% - 3rem)}
      .navbar{padding: 0rem 1rem}

      .dropdown-toggle::after {display: none}
      .dropdown-toggle::before {display: inline-block;padding: 0rem 0.5rem;font: normal normal normal 12px/1 'Font Awesome 6 Free';content: "\f078";vertical-align:0.5em;}
      .jiggle {-webkit-animation: jiggle 3s infinite;-moz-animation-duration: 3s;-moz-animation-name: jiggle;-moz-animation-iteration-count: infinite;-webkit-transform: rotate(0deg);-moz-transform: rotate(-0deg);}

      @-moz-keyframes jiggle {80% {-moz-transform: rotate(0deg);}84% {-moz-transform: rotate(3deg);}88% {-moz-transform: rotate(-3deg);}92% {-moz-transform: rotate(3deg);}96% {-moz-transform: rotate(-3deg);}100% {-moz-transform: rotate(0deg);}}
      @-webkit-keyframes jiggle {80% {-moz-transform: rotate(0deg);}84% {-moz-transform: rotate(3deg);}88% {-moz-transform: rotate(-3deg);}92% {-moz-transform: rotate(3deg);}96% {-moz-transform: rotate(-3deg);}100% {-moz-transform: rotate(0deg);}}

    block head
  block vars

  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let renderCompany = (options && options.company) ? options.company : "frontpage"
  -
    let companyName = renderCompany
    let logo = "skills/CardSet.png"
    let cls = ""
    let ref = "#"
    switch(renderCompany){
      case "rebbl":
        companyName = "ReBBL";
        logo = "rebbl.png"
        ref = `/${renderCompany}`;
        break;
      case "rebbrl":
        companyName = "ReBBL";
        logo = "rebbrl.png";
        ref = `/${renderCompany}`;
        break;
      case "clan":
        companyName = "Clan";
        logo = "clan.png"
        ref = `/${renderCompany}`;
        break;
      case "frontpage":
        companyName = "";
        cls="jiggle";
        break;
    }
  
  block body
    body
      +nav(renderCompany)

      main(role="main")
        block content  
          div(class="jumbotron")
            div(class="container")
              h1(class="display-3") REBBL
      footer(class="footer" style="margin-top:0px")
        div( style="float:right;")
          span(class="margin-right:7px") Donate:
          a(href="https://www.paypal.me/rebblnet" target="_blank")
            img(src="https://cdn.rebbl.net/images/donate.png" title="Donate")  
          | &nbsp; &nbsp; &nbsp; 
          a(href="https://github.com/majorbyte/rebbl" ) source &nbsp;
        p(style="padding:10px") &nbsp; <i class="fa-solid fa-copyright fa-flip-horizontal"></i>  &nbsp; &nbsp; &nbsp;
      - if (process.env.NODE_ENV === 'production')
        script(src="https://cdn.rebbl.net/scripts/jquery-3.3.1.slim.min.js")
        script(src="https://cdn.rebbl.net/scripts/v2/popper.min.js")
        script(src="https://cdn.rebbl.net/scripts/v2/bootstrap.min.js")        
      - else 
        script(src="/scripts/jquery-3.3.1.slim.min.js")
        script(src="/scripts/v2/popper.min.js")
        script(src="/scripts/v2/bootstrap.min.js")        
      block scripts