//- index.pug
extends ..\sublayout.pug

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        each match in matches
          div(class="MatchRow MatchRow-match" )
            include matches.pug