//- round.pug
extends ../../no-cache-sub-relayout.pug

block vars
  - var options = {active: league, title: "REBBL SEASON 8",company:company}

block navigation
  li.nav-item.dropdown.mr-3
    a#dropdownWeek.nav-link.text-light.dropdown-toggle(alt='' role='button' data-bs-toggle='dropdown')
      | Navigate to week
    div
      .dropdown-menu.bg-dark(aria-labelledby='dropdownWeek')
        for w in weeks.sort(function(a,b){return a - b ;})
          a.dropdown-item.text-light(href=`./${w}`)=  w

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small")= league + " " + competition + " week " + week
        div(style="grid-template-columns: auto auto;display:grid;")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
            each match, y in matches
               include matches.pug






