//- round.pug
extends ..\layout.pug
block vars
  - var options = {active: league, title: "REBBL SEASON 8"}

block navigation
  div(class="Tabs Tabs--darkBackground")
     div(class="Tabs-header-wrapper")
       div(class="Tabs-header")
         div(class="Tabs-scroller-wrapper")
           div(class="Tabs-scroller")
             nav(class="Tabs-bar container")
               a(href="/rebbl/" + league class="Tabs-tab" + (competition == 0 ? " Tabs-tab--active" : "") style="padding-left:5px;padding-right:5px" ) Standings
               each round in divisions.sort(function(a,b){return a > b ? 1: -1})
                 a(class="Tabs-tab"  + (competition == round ? " Tabs-tab--active" : "") href="/rebbl/"+league + "/" + round style="padding-left:5px;padding-right:5px")= round.replace("Season 8 - Division","div").replace("Season 8 ","")
  div(class="Tabs Tabs--darkBackground")
     div(class="Tabs-header-wrapper")
       div(class="Tabs-header")
         div(class="Tabs-scroller-wrapper")
           div(class="Tabs-scroller")
             nav(class="Tabs-bar container")
               for w in weeks.sort(function(a,b){return a - b ;})
                 a(class="Tabs-tab"  + (week == w ? " Tabs-tab--active-week" : "") href="/rebbl/"+league + "/" + competition + "/" + w  style="padding-left:5px;padding-right:5px;")= "Week " + w

block content
  div(class="Background u-bottomPadding--large u-topPadding--medium")
    div(class="/*TexturedBackground TexturedBackground--light-primary*/")
      div(class="container navcontainer" data-index="0")
        h1(class="u-no-text-transform u-verticalMargin--xx-small")= league + " " + competition + " week " + week
        div(style="grid-template-columns: auto auto;display:grid;")
          div(class="table-striped TeamLabel-info")
            div(class="TableHeader" style="border-bottom: 3px solid #bdbcbccf;padding-bottom: 2px;")
              div(title="" class="Standings-details Standings-header")= "Week "
            each match, y in matches
               include matches.pug






