extends ../layout.pug



block scripts
  script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
  script.
    function DateModel() {
        const self = this;
        // Editable data
        self.users = ko.observableArray([]);
        self.coach = ko.observable();
        self.reddit = ko.observable();
        self.loading = ko.observable(true);
        self.showAll = ko.observable(false);
        self.filteredUsers = ko.computed(function() {
          if(!self.coach() && !self.reddit() ) {
              return self.users(); 
          } else {
            
            let users = null;

            if(self.coach()){
              users= ko.utils.arrayFilter(self.users(), function(user) {
                let regex = new RegExp("^"+self.coach(), "i");
                return regex.test(user.coach);
              });
            }

            if(self.reddit()){
              users= ko.utils.arrayFilter(users || self.users(), function(user) {
                let regex = new RegExp("^"+self.reddit(), "i");
                return regex.test(user.reddit);
              });
            }


            return users;
          }
        });

        self.toggle = function(data,event){
          $(event.currentTarget || event.target ).toggleClass("btn-secondary");
          $(event.currentTarget || event.target ).toggleClass("btn-success");

          self.showAll(!self.showAll());
        }
    }

    ko.bindingHandlers.foreachprop = {
        transformObject: function (obj) {
            var properties = [];
            ko.utils.objectForEach(obj, function (key, value) {
                properties.push({ key: key, value: value });
            });
            properties = properties.sort(function(a,b){return a.key > b.key ? 1 : -1;})
            return properties;
        },
        init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
            var properties = ko.pureComputed(function () {
            var obj = ko.utils.unwrapObservable(valueAccessor());
            return ko.bindingHandlers.foreachprop.transformObject(obj);
            });
            ko.applyBindingsToNode(element, { foreach: properties }, bindingContext);
            return { controlsDescendantBindings: true };
        }
    };

    const model = new DateModel();
    $(document).ready(async function(){
        ko.applyBindings(model);
        
        const response = await fetch("/api/v1/admin/strikes");
        if (response.ok) model.users(await response.json());
        model.loading(false);

    });

    

block content
  div(class="container")
    div(class="row col-12")
      div(class="col-2") Coach
      div(class="col-2") Awarded By
      div(class="col-2") Start
      div(class="col-2") End
      div(class="col-4") Reason
        button(class="btn btn-secondary" data-bind="click:toggle" style="margin-right:5px;float:right") Show All
    hr
    //ko if: loading
    div(class="row col-12 justify-content-center")
      i(class="fa fa-spinner fa-spin" style="margin-top:250px;font-size:96px;color: #e67b00;")
    // /ko
    div(data-bind="foreach: filteredUsers" )
      //ko if: $data.strikes != undefined
      div(data-bind="foreach: strikes" )
        // ko if: $root.showAll() || $data.active 
        div(class="user-row row col-12")
          a(class="col-12 row" data-bind="attr:{href: 'user/' + $parent.reddit }")   
            div(data-bind="text: $parent.coach" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.awardedBy || ' - '" class="col-2" style="overflow:hidden;")
            div(data-bind="text: start" class="col-2" style="overflow:hidden;")
            div(data-bind="text: end" class="col-2" style="overflow:hidden;")
            div(data-bind="text: reason" class="col-4" style="overflow:hidden;")
        // /ko
      // /ko
      //ko if: $data.bans !== undefined
      div(data-bind="foreach: bans" )
        // ko if: $root.showAll() || $data.active 
        div(class="user-row row col-12")
          a(class="col-12 row" data-bind="attr:{href: 'user/' + $parent.reddit }")   
            div(data-bind="text: $parent.coach" class="col-2" style="overflow:hidden;")
            div(data-bind="text: $data.awardedBy || ' - ' " class="col-2" style="overflow:hidden;")
            div(data-bind="text: start" class="col-2" style="overflow:hidden;")
            div(data-bind="text: end" class="col-2" style="overflow:hidden;")
            div(data-bind="text: reason" class="col-4" style="overflow:hidden;")
        // /ko
      // /ko





