extends ../account/sublayout.pug

block content
  div(class="container")
      h2 Due to the way division 5 works now, all signups, including Rampup are closed for now.
      h3 Keep an eye on 
        a(href="https://old.reddit.com/r/rebbl")= "rebbl "
        span for when the new season starts in about 6 weeks.