extends ..\accountlayout.pug

block content
  div(class="container")
      h2 Signups are temporarily closed, we are soon starting with the arcane process of creating divisions. Keep an eye on 
        a(href="https://old.reddit.com/r/rebbl")= "rebbl "
        span if you still want to join, more information will be posted there in a couple of days.