extends ../no-cache-sub-relayout.pug

block vars
  - let options = {active: league, title: "REBBL season 19", company:"clan"}
  - let company = "clan";

block head  
  style.
    .popoverFix {z-index:10_000 !important;}
    .tables {width: 100%;overflow: auto;display: flex;flex-wrap: wrap;margin-top: 1em;align-items: flex-start;}
    .table {width:unset !important; margin-block-end: 1em;margin-right: 1em;flex-grow:1}
    .data {text-align: right}
    .cured {opacity: 0.4}
    .table th {border-top:unset !important;}   
    .btn:focus, .btn.primary:focus {box-shadow:unset !important}
    .skill{width: 2em;border-radius: 4px;margin-left:1px;}
    .bg-double{background-color:#ff8900; color:white;}
    .choose-race{background: #ffc1075e;}
    .lds-hourglass {display: inline-block;position: relative;width: 80px;height: 80px;}
    .lds-hourglass:after {content: " ";display: block; border-radius: 50%;width: 0;height: 0;margin: 8px;box-sizing: border-box;border: 32px solid #fff;border-color: #ff8900  transparent #ff8900 transparent;animation: lds-hourglass 1.2s infinite;}
    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }    
    input:invalid, .invalid{border:1px solid var(--danger)}
    input:valid, .valid{border:1px solid var(--success)}

    .toast {-ms-flex-preferred-size: 350px;flex-basis: 350px;max-width: 350px;font-size: 0.875rem;background-color: rgba(255, 255, 255, 0.85);background-clip: padding-box;border: 1px solid rgba(0, 0, 0, 0.1);box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);opacity: 0;border-radius: 0.25rem;}
    .toast:not(:last-child) {margin-bottom: 0.75rem;}
    .toast.showing {opacity: 1;}
    .toast.show {display: block;opacity: 1;}
    .toast.hide {display: none;}
    .toast-header {display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;padding: 0.25rem 0.75rem;color: #6c757d;background-color: rgba(255, 255, 255, 0.85);background-clip: padding-box;border-bottom: 1px solid rgba(0, 0, 0, 0.05);border-top-left-radius: calc(0.25rem - 1px);border-top-right-radius: calc(0.25rem - 1px);}
    .toast-body {padding: 0.75rem;}    

    .dice{background: url("/images/dice.png") no-repeat;width: 32px;height: 32px;display: inline-block;background-position-x: 0px;vertical-align: bottom;transform: scale(1.2);}
    .dice-1{background-position-x:0px;background-position-y:0px}
    .dice-2{background-position-x:-32px;background-position-y:0px}
    .dice-3{background-position-x:-64px;background-position-y:0px}
    .dice-4{background-position-x:-96px;background-position-y:0px}
    .dice-5{background-position-x:-128px;background-position-y:0px}
    .dice-6{background-position-x:-160px;background-position-y:0px}

    kbd{white-space:pre}

block content
  .container#app(style="display:none")
    // ko if: loading
    .progress(role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
      .progress-bar.progress-bar-striped.progress-bar-animated#pgb(style="width: 0%")
    // /ko
    // ko if: validating
    .row.justify-content-center
      .spinner-grow.text-primary(role="status")
          span.visually-hidden Loading...
    // /ko
    // ko if: registerClan
    // ko template: { name: 'registerClanTemplate' }
    // /ko
    // /ko
    // ko if: editClan
    // ko template: { name: 'clanTemplate' }
    // /ko
    // /ko

    // ko if: editTeam && team
    // ko template: { name: 'teamTemplate', data: team }
    // /ko
    // /ko

    // ko if: editTeam && newBloodTeam
    // ko template: { name: 'newBloodTemplate', data: newBloodTeam }
    // /ko
    // /ko


    // ko if: showValidation
    // ko template: { name: 'validationTemplate', data: validationResult }
    // /ko
    // /ko

    .position-fixed.bottom-0.right-0.p-3(style="z-index: 5; right: 0; top: 50px;")
      .toast.hide.text-white.bg-success(id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000")
        .toast-header Success
          button.ml-2.mb-1.close(type="button" class="" data-bs-dismiss="toast" aria-label="Close")
            span(aria-hidden="true") &times;
        .toast-body#toast-success-message

      .toast.hide.text-white.bg-danger(id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000")
        .toast-header
          strong.me-auto Error
          button.ml-2.mb-1.close(type="button" class="" data-bs-dismiss="toast" aria-label="Close")
            span(aria-hidden="true") &times;
        .toast-body#toast-error-message    

      .toast.hide.text-white.bg-info(id="toast-information" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000")
        .toast-header
          strong.me-auto 
          button.ml-2.mb-1.close(type="button" class="" data-bs-dismiss="toast" aria-label="Close")
            span(aria-hidden="true") &times;
        .toast-body#toast-information-message    

block scripts
  script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-mapping.min.js")
  script(src="https://cdn.rebbl.net/scripts/knockout-es5.js")
  script(src="https://cdn.rebbl.net/scripts/socket.io.js")
  include templates/includes.pug
  include scripts/includes.pug

  script.
    let SkillDescriptions = [];
    let races = [];
    let skills = []
    let skillsData = [
      {id:1, name: "StripBall", icon:"StripBall.png"},
      {id:6, name: "Catch", icon:"Catch.png"},
      {id:7, name: "Dodge", icon:"Dodge.png"},
      {id:8, name: "Sprint", icon:"Sprint.png"},
      {id:10, name: "FoulAppearance", icon:"FoulAppearance.png"},
      {id:100, name: "AnimosityOrcLinemen", icon:"Animosity.png"},
      {id:1001, name: "BloodGreed", icon:"BloodGreed.png"},
      {id:1005, name: "Fumblerooskie", icon:"Fumblerooskie.png"},
      {id:1007, name: "KickTeamMate", icon:"KickTeamMate.png"},
      {id:1008, name: "Loner3", icon:"Loner.png"},
      {id:1009, name: "MightyBlow2", icon:"MightyBlow.png"},
      {id:101, name: "AnimosityBigUnBlockers", icon:"Animosity.png"},
      {id:1010, name: "MonstrousMouth", icon:"MonstrousMouth.png"},
      {id:1012, name: "PileDriver", icon:"PileDriver.png"},
      {id:1015, name: "SafePairOfHands", icon:"SafePairOfHands.png"},
      {id:1016, name: "Swarming", icon:"Swarming.png"},
      {id:1017, name: "Swoop", icon:"Swoop.png"},
      {id:1018, name: "Loner2", icon:"Loner.png"},
      {id:102, name: "AnimosityUnderworldGoblinLinemen", icon:"Animosity.png"},
      {id:1020, name: "PlagueRidden", icon:"PlagueRidden.png"},
      {id:1021, name: "DirtyPlayer2", icon:"DirtyPlayer.png"},
      {id:1022, name: "Loner5", icon:"Loner.png"},
      {id:11, name: "Leap", icon:"Leap.png"},
      {id:12, name: "ExtraArms", icon:"ExtraArms.png"},
      {id:13, name: "MightyBlow1", icon:"MightyBlow.png"},
      {id:14, name: "Leader", icon:"Leader.png"},
      {id:15, name: "Horns", icon:"Horns.png"},
      {id:16, name: "TwoHeads", icon:"TwoHeads.png"},
      {id:17, name: "StandFirm", icon:"StandFirm.png"},
      {id:18, name: "AlwaysHungry", icon:"AlwaysHungry.png"},
      {id:19, name: "Regeneration", icon:"Regeneration.png"},
      {id:20, name: "TakeRoot", icon:"TakeRoot.png"},
      {id:21, name: "Accurate", icon:"Accurate.png"},
      {id:22, name: "BreakTackle", icon:"BreakTackle.png"},
      {id:23, name: "SneakyGit", icon:"SneakyGit.png"},
      {id:25, name: "Chainsaw", icon:"Chainsaw.png"},
      {id:26, name: "Dauntless", icon:"Dauntless.png"},
      {id:27, name: "DirtyPlayer1", icon:"DirtyPlayer.png"},
      {id:28, name: "DivingCatch", icon:"DivingCatch.png"},
      {id:29, name: "Dumpoff", icon:"DumpOff.png"},
      {id:30, name: "Block", icon:"Block.png"},
      {id:31, name: "BoneHead", icon:"BoneHead.png"},
      {id:32, name: "VeryLongLegs", icon:"VeryLongLegs.png"},
      {id:33, name: "DisturbingPresence", icon:"DisturbingPresence.png"},
      {id:34, name: "DivingTackle", icon:"DivingTackle.png"},
      {id:35, name: "Fend", icon:"Fend.png"},
      {id:36, name: "Frenzy", icon:"Frenzy.png"},
      {id:37, name: "Grab", icon:"Grab.png"},
      {id:38, name: "Guard", icon:"Guard.png"},
      {id:39, name: "HailMaryPass", icon:"HailMaryPass.png"},
      {id:40, name: "Juggernaut", icon:"Juggernaut.png"},
      {id:41, name: "JumpUp", icon:"JumpUp.png"},
      {id:44, name: "Loner4", icon:"Loner.png"},
      {id:45, name: "NervesOfSteel", icon:"NervesOfSteel.png"},
      {id:46, name: "NoHands", icon:"NoHands.png"},
      {id:47, name: "Pass", icon:"Pass.png"},
      {id:49, name: "PrehensileTail", icon:"PrehensileTail.png"},
      {id:50, name: "Pro", icon:"Pro.png"},
      {id:51, name: "ReallyStupid", icon:"ReallyStupid.png"},
      {id:52, name: "RightStuff", icon:"RightStuff.png"},
      {id:53, name: "SafePass", icon:"SafePass.png"},
      {id:54, name: "SecretWeapon", icon:"SecretWeapon.png"},
      {id:55, name: "Shadowing", icon:"Shadowing.png"},
      {id:56, name: "Sidestep", icon:"SideStep.png"},
      {id:57, name: "Tackle", icon:"Tackle.png"},
      {id:58, name: "StrongArm", icon:"StrongArm.png"},
      {id:59, name: "Stunty", icon:"Stunty.png"},
      {id:60, name: "SureFeet", icon:"SureFeet.png"},
      {id:61, name: "SureHands", icon:"SureHands.png"},
      {id:63, name: "ThickSkull", icon:"ThickSkull.png"},
      {id:64, name: "ThrowTeamMate", icon:"ThrowTeamMate.png"},
      {id:67, name: "UnchannelledFury", icon:"UnchannelledFury.png"},
      {id:68, name: "Wrestle", icon:"Wrestle.png"},
      {id:69, name: "Tentacles", icon:"Tentacles.png"},
      {id:70, name: "MultipleBlock", icon:"MultipleBlock.png"},
      {id:71, name: "Kick", icon:"Kick.png"},
      {id:74, name: "BigHand", icon:"BigHand.png"},
      {id:75, name: "Claws", icon:"Claw.png"},
      {id:76, name: "BallAndChain", icon:"BallAndChain.png"},
      {id:77, name: "Stab", icon:"Stab.png"},
      {id:78, name: "HypnoticGaze", icon:"HypnoticGaze.png"},
      {id:80, name: "Bombardier", icon:"Bombardier.png"},
      {id:81, name: "Decay", icon:"Decay.png"},
      {id:83, name: "Titchy", icon:"Titchy.png"},
      {id:84, name: "AnimalSavagery", icon:"AnimalSavagery.png"},
      {id:86, name: "AnimosityAllTeamMates", icon:"Animosity.png"},
      {id:87, name: "TimmmBer", icon:"Timmm-ber.png"},
      {id:88, name: "Cannoneer", icon:"Cannoneer.png"},
      {id:89, name: "PogoStick", icon:"PogoStick.png"},
      {id:90, name: "Defensive", icon:"Defensive.png"},
      {id:91, name: "ArmBar", icon:"ArmBar.png"},
      {id:92, name: "IronHardSkin", icon:"IronHardSkin.png"},
      {id:93, name: "RunningPass", icon:"RunningPass.png"},
      {id:94, name: "CloudBuster", icon:"CloudBuster.png"},
      {id:95, name: "ProjectileVomit", icon:"ProjectileVomit.png"},
      {id:96, name: "Brawler", icon:"Brawler.png"},
      {id:97, name: "OnTheBall", icon:"OnTheBall.png"},
      {id:98, name: "AnimosityAllDwarfAndHalflingTeamMates", icon:"Animosity.png"},
      {id:99, name: "AnimosityAllDwarfAndHumanTeamMates", icon:"Animosity.png"},
      {id:-1, name:"RandomPrimary", icon:"StarPlayer.png"},
      {id:-2, name:"RandomSecondary", icon:"StarPlayer.png"},
      ];

    let playerTypes = [];
    let me = {};
    let socket = {};

    const Divisions =[{name: 'Division 1',budget:6_500_000, powerBudget: 00},{name: 'Division 2a',budget:7_100_000, powerBudget: 150_000},{name: 'Division 2',budget:7_100_000, powerBudget: 150_000},{name: 'Division 2b',budget:7_100_000, powerBudget: 150_000},{name: 'Division 3a',budget:6_750_000, powerBudget: 0},{name: 'Division 3b',budget:6_750_000, powerBudget: 0},{name: 'Division 3',budget:6_750_000, powerBudget: 0}];

    const SPP = [
      {level:1,	spp:0, eligible:3},
      {level:2,	spp:6, eligible:11},
      {level:3,	spp:16, eligible:23},
      {level:4,	spp:31, eligible:41},
      {level:5,	spp:51, eligible:63},
      {level:6,	spp:76, eligible:126},
      {level:7,	spp:176, eligible:999},
      {level:8,	spp:1001, eligible:1000}
    ];

    const TierTax = [
      {race:"blackOrc", tier:3, cost:-100_000},
      {race:"chaosChosen", tier:2, cost:0},
      {race:"chaosRenegade", tier:2, cost:0},
      {race:"darkElf", tier:1, cost:100_000},
      {race:"dwarf", tier:1, cost:100_000},
      {race:"elvenUnion", tier:2, cost:0},
      {race:"goblin", tier:3, cost:-100_000},
      {race:"halfling", tier:3, cost:-100_000},
      {race:"human", tier:2, cost:0},
      {race:"imperialNobility", tier:3, cost:-100_000},
      {race:"lizardman", tier:1, cost:100_000},
      {race:"necromanticHorror", tier:1, cost:100_000},
      {race:"nurgle", tier:3, cost:-100_000},
      {race:"oldWorldAlliance", tier:3, cost:-100_000},
      {race:"orc", tier:1, cost:100_000},
      {race:"shamblingUndead", tier:1, cost:100_000},
      {race:"skaven", tier:1, cost:100_000},
      {race:"underworldDenizen", tier:2, cost:0},
      {race:"woodElf", tier:1, cost:100_000}
    ];

    const Powers = [
      {key:'assassination', name:'Assassination', use:2, cost:100_000},
      {key:'badInducementDeal', name:'Bad Inducement Deal', use:2, cost:50_000},
      {key:'confusion', name:'Confusion', use:2, cost:50_000},
      {key:'financialFairPlay', name:'Financial Fair Play', use:2, cost:50_000},
      {key:'hatredOfPublicTransport', name:'Hatred of Public Transport', use:5, cost:20_000},
      {key:'inspiration', name:'Inspiration', use:2, cost:100_000},
      {key:'lastMinuteSwitch', name:'Last Minute Switch', use:1, cost:150_000},
      {key:'miscommunication', name:'Miscommunication', use:1, cost:150_000},
      {key:'stuntyAssassination', name:'Stunty Assassination', use:2, cost:100_000},
      {key:'stuntyBadInducementDeal', name:'Stunty Bad Inducement Deal', use:2, cost:50_000},
      {key:'stuntyConfusion', name:'Stunty Confusion', use:2, cost:50_000},
      {key:'stuntyHatredOfPublicTransport', name:'Stunty Hatred of Public Transport', use:5, cost:20_000},
      {key:'stuntyInspiration', name:'Stunty Inspiration', use:2, cost:100_000},
      {key:'stuntyLastMinuteSwitch', name:'Stunty LastMinuteSwitch', use:1, cost:150_000},
      {key:'stuntyMiscommunication', name:'Stunty Miscommunication', use:1, cost:150_000}
    ];

    
    let model = new ClanModel().snap();
      $(document).ready(function(){
        ko.applyBindings(model);
        model.load();
        $("#app").show();
    }); 