extends ../no-cache-sub-layout.pug
include ../nav-link

block vars
  - let options = {active: league, title: "REBBL SEASON 9", company:"clan"}
  - let company = "clan";

block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= "STANDINGS - " + league 
    div(class="collapse navbar-collapse" id="rebblSubNav")
      -let style = company === "" ? "margin:0 auto" : ""
      ul(class="navbar-nav" style=style)
        +nav-link("Upcoming games", "/clan/upcoming")

block content
  div(class=`container` id="app")
    img(v-if="clan.logo != null" :src="'https://cdn2.rebbl.net/' + clan.logo" style="float:right;width:128px")
    h2(style="text-transform:none") {{clan.name}}
    h2(style="text-transform:none") Leader: {{clan.leader}}
    template(v-if="clanLeader == true")
      div(v-if="clan.logo == null || clan.logo == 'images/clanlogos/clan.png'")
        input( @change="onFileSelectedEvent" type="file" accept="image/*" class="fileChooser")
        button(@click="uploadLogo" class="btn btn-primary" ) upload logo
    h3 Purchased Clan Powers
    div(class="row")
      template(v-for="power in Object.keys(clan.ledger)")
        template(v-if="clan.ledger[power] > 0")
          div(class="p-1")
            button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
              | {{powers.find(function(x){return x.key == power}).name}} 
              span(class="badge badge-secondary") {{clan.ledger[power]}}
    h3 Remaining Clan Powers
    div(class="row")
      template(v-for="power in Object.keys(clan.powers)")
        template(v-if="clan.powers[power] > 0")
          div(class="p-1")
            button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
              | {{powers.find(function(x){return x.key == power}).name}} 
              span(class="badge badge-secondary") {{clan.powers[power]}}
    h3 Teams
    div(class="row")
      template(v-for="team in clan.ledger.teams")
        template(v-if="team.active")
          div(class="p-1")
            a(class="btn btn-outline-info btn-sm" role="button" v-bind:href="'/clan/team/' + team.team.id" target="_blank" )
              | {{team.team.name}}
              img(v-bind:src="'https://cdn2.rebbl.net/images/logo/logo_' + team.team.logo.toLowerCase() + '.png'")
    h3 Retired Teams (new Blood)
    div(class="row")
      template(v-for="team in clan.ledger.teams")
        template(v-if="!team.active")
          div(class="p-1")
            a(class="btn btn-outline-info btn-sm" role="button" v-bind:href="'/clan/team/' + team.team.id" target="_blank" )
              | {{team.team.name}}
              img(v-bind:src="'https://cdn2.rebbl.net/images/logo/logo_' + team.team.logo.toLowerCase() + '.png'")


block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn2.rebbl.net/scripts/vue-2.6.10.min.js")
  - else
    script(src="/scripts/vue-2.6.10.min.js")

  script.

        // app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        clan: {logo:null,name:"",ledger:{teams:[]}, powers:{}},
        name: "",
        me: "",
        newLogo: null,
        clanLeader: false,
        ledger:{},
        powers:[]
      },

      // methods that implement data logic.
      // note there's no DOM manipulation here at all.
      methods: {
        load: async function () {
          const storage = window.localStorage;
          if (storage)    
            this.powers = JSON.parse(localStorage.getItem('powers')) || [];

          if(this.powers.length === 0|| !this.powers.find(x=>x.key === "version3.0")){
            let response = await fetch("/api/v2/clan/powers");
            this.powers = await response.json();
            storage.setItem('powers', JSON.stringify(this.powers));    
          }

          let path = window.location.pathname.split("/");
          let response = await fetch(`/api/v2/clan${path[path.length-1] !== "clan" ? "/"+path[path.length-1] : ""}`);
          const data = await response.json();
          this.clan = Object.assign({},this.clan,data.clan);
          this.clanLeader = data.leader;
          this.me = data.me;
          $(function () {
            $('[data-toggle="popover"]').popover()
          });
        },
        onFileSelectedEvent : function(event){
          this.newLogo = event.target.files[0];
        },
        uploadLogo: async function(url, data, cb){
          var image = new FormData();
          image.append("image", this.newLogo);
          let response = await fetch(`/api/v2/clan/${this.clan.name}/upload`, {
            method: "POST",
            body: image
          });
        
          if (response.ok){
            this.newLogo = null;
            this.clan.logo = await response.text();
          } else{
            console.dir(await response.text())
          }
        },
      },
      created: async function () { await this.load();}
    })

    // mount
    app.$mount('#app')

















