extends ../no-cache-sub-relayout.pug

block vars
  - let options = {active: league, title: "REBBL season 15", company:"clan"}
  - let company = "clan";

block head  
  style.
    .popoverFix {z-index:10000 !important;}


block content
  div(class=`container` id="app")
    img(v-if="clan.logo != null" :src="'https://cdn.rebbl.net/' + clan.logo" style="float:right;width:128px")
    
    h2(style="text-transform:none") {{clan.name}}
      a.btn.btn-sm.btn-primary.text-align-center(href="/clan/clan/build" style="margin-left:15px;margin-top:-15px") Build Clan
    h2(style="text-transform:none") Leader:&nbsp;
      a(:href="'/coach/' + clan.leader" target="_blank") {{clan.leader}}
    template(v-if="clanLeader == true")
      div(v-if="clan.logo == null || clan.logo == 'images/clanlogos/clan.png'")
        input( @change="onFileSelectedEvent" type="file" accept="image/*" class="fileChooser")
        button(@click="uploadLogo" class="btn btn-primary" ) upload logo
    h3 Purchased Clan Powers
    div(class="row")
      template(v-for="power in Object.keys(clan.ledger)")
        template(v-if="clan.ledger[power] > 0")
          div(class="p-1")
            button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-bs-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
              | {{powers.find(function(x){return x.key == power}).name}} 
              span(class="badge badge-secondary") {{clan.ledger[power]}}
    template(v-if="clan.phase != 'building'")
      h3 Remaining Clan Powers
      div(class="row")
        template(v-for="power in Object.keys(clan.powers)")
          template(v-if="clan.powers[power] > 0")
            div(class="p-1")
              button(type="button" class="btn btn-outline-info btn-sm" data-container="body" data-bs-toggle="popover" data-placement="right" v-bind:data-title="powers.find(function(x){return x.key == power}).name" v-bind:data-content="powers.find(function(x){return x.key == power}).description")
                | {{powers.find(function(x){return x.key == power}).name}} 
                span(class="badge badge-secondary") {{clan.powers[power]}}
    h3 Teams
    div(class="row")
      template(v-if="clan.phase !== 'building'")
        template(v-for="team in clan.ledger.teams")
          template(v-if="team.active || clan.phase === 'building'")
            div(class="p-1")
              a(class="btn btn-outline-info btn-sm" role="button" v-bind:href="'/team/' + team.team.id" target="_blank" )
                | {{team.team.name}}
                img(v-bind:src="'https://cdn.rebbl.net/images/logo/logo_' + team.team.logo.toLowerCase() + '.png'")
      template(v-else)
        button(v-if="clan.ledger.teamBuilding.length < 5" type="button" class="btn btn-outline-info btn-sm" v-on:click="newTeam" ) Add Team
        
    template(v-if="clan.phase !== 'building'") 
      h3 Retired Teams (new Blood)
      div(class="row")
        template(v-for="team in clan.ledger.teams")
          template(v-if="!team.active")
            div(class="p-1")
              a(class="btn btn-outline-info btn-sm" role="button" v-bind:href="'/team/' + team.team.id" target="_blank" )
                | {{team.team.name}}
                img(v-bind:src="'https://cdn.rebbl.net/images/logo/logo_' + team.team.logo.toLowerCase() + '.png'")


block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn.rebbl.net/scripts/vue-2.6.10.min.js")
  - else
    script(src="/scripts/vue-2.6.10.min.js")

  script.

        // app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        clan: {logo:null,name:"",ledger:{teams:[]}, powers:{}},
        name: "",
        me: "",
        newLogo: null,
        clanLeader: false,
        ledger:{},
        powers:[]
      },

      // methods that implement data logic.
      // note there's no DOM manipulation here at all.
      methods: {
        load: async function () {
          const storage = window.localStorage;
          if (storage)    
            this.powers = JSON.parse(localStorage.getItem('powers')) || [];

          if(this.powers.length === 0|| !this.powers.find(x=>x.key === "version13.1")){
            let response = await fetch("/api/v2/clan/powers");
            this.powers = await response.json();
            storage.setItem('powers', JSON.stringify(this.powers));    
          }

          let pathName = window.location.pathname;
          if (!pathName.endsWith("/")) pathName += "/";
          let path = pathName.split("/");
          let uri = '';
          if (path.length === 5){
            uri = `/api/v2/clan/${path[path.length-2]}`;
          } else if (path.length === 4){
            uri = `/api/v2/clan`;
          } else if (path.length === 7) {
            uri = `/api/v2/clan/season/${path[path.length-3]}/${path[path.length-2]}`;
          }
          
          let response = await fetch(uri);
          const data = await response.json();
          this.clan = Object.assign({},this.clan,data.clan);
          this.clanLeader = data.leader;
          this.me = data.me;
          $(function () {
            $('[data-bs-toggle="popover"]').popover({ template: '<div class="popover popoverFix" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'})
          });
        },
        newTeam : function(){
          window.location = `/clan/team`;
        },
        onFileSelectedEvent : function(event){
          this.newLogo = event.target.files[0];
        },
        uploadLogo: async function(url, data, cb){
          var image = new FormData();
          image.append("image", this.newLogo);
          let response = await fetch(`/api/v2/clan/${this.clan.name}/upload`, {
            method: "POST",
            body: image
          });
        
          if (response.ok){
            this.newLogo = null;
            this.clan.logo = await response.text();
          } else{
            console.dir(await response.text())
          }
        },
      },
      created: async function () { await this.load();}
    })

    // mount
    app.$mount('#app')

















