extends ../no-cache-sub-layout.pug
include ../nav-link

block vars
  
  - let options = {active: league, title: "REBBL SEASON 9", company:"clan"}
  - let fullJquery = true
  - if (!active) { var active =  (options && options.active) ? options.active : "" }
  - let company = "clan";

block navigation
  nav(class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="min-height:80px;top:80px;justify-content:unset")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rebblSubNav" aria-controls="rebblSubNav" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand d-md-none d-lg-none d-xl-none " href="#")= "STANDINGS - " + league 
    div(class="collapse navbar-collapse" id="rebblSubNav")
      -let style = company === "" ? "margin:0 auto" : ""
      ul(class="navbar-nav" style=style)
        +nav-link("Upcoming games", "/clan/upcoming")

block content
  div(class="container no-gutters" id="app")
    div(class="row col-12")
      template(v-for="division in divisions")
        a(v-bind:href="`/clan/schedule/season 9/${division}`" target="_blank" )
          h3 {{division}}
          div(class="row col-12")
            template(v-for="clan of filter(division)")
              div(class="p-1")
                a(class="btn btn-outline-info btn-sm" role="button" v-bind:href="'/clan/clan/' + clan.name" target="_blank" )
                  | {{ clan.name }} &nbsp;
                  img(v-bind:src="'https://cdn2.rebbl.net/' + clan.logo" style="height:48px")

block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn2.rebbl.net/scripts/vue-2.6.10.min.js")
  - else
    script(src="/scripts/vue-2.6.10.min.js")

  script.
        // app Vue instance
    var app = new Vue({
      // app initial state
      data: {
        divisions:["Division 1","Division 2A","Division 2B","Division 3A","Division 3B"],
        clans: []

      },
      methods: {
        filter(division) {
          return this.clans.filter(x => x.division === division);
        }
      },
      // methods that implement data logic.
      // note there's no DOM manipulation here at all.
      async mounted() {
          let response = await fetch(`/api/v2/clan/clans`);
          this.clans = await response.json();
      }
    })

    // mount
    app.$mount('#app')