extends ../layout.pug



block scripts
  - if (process.env.NODE_ENV === 'production')
    script(src="https://cdn.rebbl.net/scripts/knockout-3.4.2.js")
    script(src="https://cdn.rebbl.net/scripts/knockout-mapping.min.js")
    script(src="https://cdn.rebbl.net/scripts/knockout-es5.js")
  - else
    script(src="/scripts/knockout-3.4.2.js")
    script(src="/scripts/knockout-mapping.min.js")
    script(src="/scripts/knockout-es5.js")

  script.
    function TrophyModel(data){
      this.map = (data) => {
          if (data) {
              this.name = data.name;
              this.title = data.title;
              this.filename = data.filename;
              this.file = data.file;
          }
      };
      this.map(data);


      this.onFileSelectedEvent = function(data,event){
        data.file = event.target.files[0];
      }

      ko.track(this);      
    }  

    function DataModel() {
        const self = this;
        // Editable data
        self.trophies=ko.observableArray([]);
        self.loading = ko.observable(false);

        self.newTrophy =  ko.observable(new TrophyModel({"name":"","filename":""}));

        self.addTrophy = async function(data,event){
          async function cb(filename){
            self.newTrophy().filename = filename;
            self.trophies.push(self.newTrophy());
            await self.post("/api/v1/admin/trophies/save", self.newTrophy());
            await self.newTrophy(new TrophyModel({"name":"","filename":""}));
          }
          await self.postFile("/api/v1/admin/trophies/upload", self.newTrophy().file, cb);
        }
        
        self.deleteTrophy = function(data,event){

          $("modal-title").text(`Delete trophy ${data.name}?`)
          $('#modal-image').attr('src', `https://cdn.rebbl.net/${data.filename}`);

          var f = async function(){
            await self.post("/api/v1/admin/trophies/delete", data);

            self.trophies.splice(self.trophies.indexOf(data),1);

            $("#btn-delete").off("click",  f);

            $('#trophy').modal('hide');  
            $('#trophy').modal('dispose');  
          }

          $("#btn-delete").on("click",  f);
          $('#trophy').modal();


        }

        self.post = async function(url, data){
          await fetch(url,{
            method:"POST",
            headers:{
              'Content-Type': 'application/json',
            },
            body:JSON.stringify(data)
          });
        } 

        self.postFile = async function(url, data, cb){
          var image = new FormData();
          image.append("image", data);

          const response = await fetch(url, {
            method: 'POST',
            body: image
          });

          if (response.ok) cb(await response.text());
        } 
    }

    var mapping = {
      'trophies': {
          create: function(options) {
              return new TrophyModel(options.data);
          }
      }
    }

    let model = new DataModel();
    $(document).ready(async function(){
        ko.applyBindings(model);

        const response = await fetch("/api/v1/admin/trophies");
        if (response.ok) model = ko.mapping.fromJS(await response.json(),mapping,model);
    });

    

block content
  div(class="container")
    //ko if: loading
    div(class="row col-12 justify-content-center")
      i(class="fa-solid fa-spinner fa-spin" style="margin-top:250px;font-size:96px;color: #e67b00;")
    // /ko
    div(class="row col-12")
      div(class="col-4") Name
      div(class="col-4") Title 
      div(class="col-4") Image
    // ko foreach: trophies
    div(class="row col-12")
      div(class="col-4" data-bind="text: name" )
      div(class="col-4" data-bind="text: title")
      img(style="width:unset" data-bind="attr:{src: 'https://cdn.rebbl.net/' + filename }")
      div(class="col-1")
        button(class="btn btn-danger float-right trophy-toggle" data-bind="click: $root.deleteTrophy,clickBubble: false") 
          i(class="fa-solid fa-ban")      
    // /ko 
    div(class="row col-12")
      form(data-bind="submit: addTrophy" class="col-12")
        //ko with: newTrophy        
        div(class="row col-12 no-gutter")
          div(class="col-4")
            input(type="text" class="col-11" data-bind="value:name" )
          div(class="col-4")
            input(type="text" class="col-11" data-bind="value:title" )
          div(class="col-4")
            input(data-bind="event:{ change: onFileSelectedEvent}" type="file" accept="image/*" class="fileChooser")
        button(class="col-1 btn btn-success" type="submit") add 
        // /ko        


  div(class="modal" tabindex="-1" role="dialog" id=`trophy`)
    div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="modal-title") Delete trophy
        div(class="modal-body")
          img(src="" alt="" style="display:block;margin-left:auto;margin-right:auto" id="modal-image")
        div(class="modal-footer")
          button( type="button" class="btn btn-primary" id="btn-delete") Delete   
          button( type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cancel   


