.mx-1 
  span.mx-2(data-bind="text: name" id="clanName")
  i.fa-solid.fa-user-circle.mx-1(title="clan leader") 
  span.mx-2(data-bind="text: leader" id="clanLeader")
  span.mx-2(data-bind="text: division" id="division")
  // ko if: !locked
  // ko if: isClanLeader()
  button.btn.btn-success.btn-sm.my-1(data-bind="click:$root.onSaveClan, attr:{disabled: !isDirty()}" title="save clan") 
    i.fa-solid.fa-save
  // /ko
  button.btn.btn-success.btn-sm.my-1.mx-1(data-bind="click:$root.onValidateClan" title="validate clan" disabled) 
    i.fa-solid.fa-check-square 
    span Validate
  // ko if: isClanLeader()
  button.btn.btn-success.btn-sm.my-1(data-bind="click:$root.onLockClan" title="lock clan" disabled) 
    i.fa-solid.fa-lock
  // /ko
  // /ko
  
  table.table.table-sm.table-responsive.table-borderless
    thead 
      tr 
        th.table-info coach 
        th.table-info reddit 
        th.table-info discord 
        th.table-info team name 
        th.table-info returning
        th.table-info # players
        th.table-info TV
        th.table-info tier tax
        th.table-info total cost
        th.table-info  
    tbody(data-bind="foreach: members")
      tr
        td
          input(data-bind="value: coach" required)
        td
          span(data-bind="text: reddit")
        td
          span(data-bind="text: discord")
        //ko with: $root.getMemberTeam($index())
        td 
          // ko if: $root.isClanLeader() || isTeamOwner()
          input(data-bind="textInput: name, attr:{pattern:`\\\\u{5B}${$root.name}\\\\u{5D}.*S19`}" required maxlength="25")
          // /ko
          // ko if: !$root.isClanLeader() && !isTeamOwner()
          span(data-bind="text: name")
          // /ko
        td 
          button.btn.btn-sm(data-bind="{text: isReturningTeam ? 'yes' : 'no', click:toggleReturning, css: isReturningTeam ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary', attr:{disabled:hasTraded()}}")
        td.data(data-bind="text: roster?.length || 0")
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(teamValue())") 
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(teamTax())") 
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(teamTotal())") 
        td.left-align
          .flex-container
            //ko if: !$root.locked
            button.btn.btn-success.btn-sm.pull-right(title='save team', data-bind="click:$root.onSaveTeam, attr:{disabled: !isDirty()}")
              i.fa-solid.fa-save
            button.btn.btn-sm.btn-info.pull-right(title='Edit team' data-bind="click:$root.onEditTeam")
              i.fa-solid.fa-pencil-square
            // /ko  
            //ko if: $root.locked
            //ko if: $root.powers?.newBlood > 0
            button.btn.btn-danger.btn-sm.pull-right(title='New Blood', data-bind="click:$root.onNewBloodTeam")
              i.fa-solid.fa-recycle
            // /ko                
            button.btn.btn-sm.btn-info.pull-right(title='Edit team' data-bind="click:$root.onEditTeam")
              i.fa-solid.fa-info
            // /ko  
            
        // /ko  
        // ko if: !$root.getMemberTeam($index())
        td(colspan="7") &nbsp;
        // /ko
    tfoot 
      // ko if: division !== "Division 3"
      tr
        td.data(colspan="9")
          span Team Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.teamTotal()),css: isTeamCostValid() ? 'valid' : 'invalid'")  
      // /ko
      //tr
        td.data(colspan="9")
          span Powers Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.powersTotal())")  
      //tr
        td.data(colspan="8")
        td.data(colspan="1" data-bind="css: ledger.stuntyBudgetLeft() > 0 ? 'choose-race' : ''")
          //ko if: ledger.stuntyBudgetLeft() > 0
          i.fa-solid.fa-info-circle.mx-1(title="Don't forget to spend you stunty power budget!")
          // /ko
          span Stunty Powers Total
        td.data(data-bind="css: ledger.stuntyBudgetLeft() > 0 ? 'choose-race' : ''")
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.stuntyTotal())")  
      tr
        td.data(colspan="9")
          span Clan Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(cost()),css: isTotalCostValid() ? 'valid' : 'invalid'")  
  //
    //ko template:{name:'clanPowersTemplate', data:ledger}
    // /ko

.modal.fade#lockClan(aria-labelledby="clanLockLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title(id="clanLockLabel") You are about to lock your clan.
        button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
          <span aria-hidden="true">&times;</span>
      .modal-body
        p
          span You are about to lock the ledger for your clan.
        p 
          b This is a permanent action! 
          br
          span Meaning that if you proceed, a server side validation will again be made, and if everything is ok, the ledger will be locked and further changes will not be possible.
          span &nbsp;You will not be able to undo this, not by changing team for this coach, switching to a non-returning team for this coach or sacking the player.

      .modal-footer
        button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cancel
        button(type="button" class="btn btn-primary" data-bind="click: lock") Proceed &amp; Lock