
.flex-container
  select(aria-labelledby='position-header' data-bind="options: availablePowers(),optionsText:'name', value:returningPlayer,optionsCaption: 'Choose...'")
  button.btn.btn-sm.btn-success(title='add player' data-bind="click:addReturningPlayer")
    i.fa.fa-plus-square

.tables
  table.table
    tr
      td
        span Assassination
      td
    tr
      td
        span Bad Inducement Deal
      td
    tr
      td
        span Confusion
      td
  table.table    
    tr
      td
        span Financial Fair Play
      td
    tr
      td
        span Hatred of Public Transport
      td
    tr
      td
        span Inspiration
      td
    tr
      td
        span Last Minute Switch
      td
    tr
      td
        span Miscommunication
      td

  table.table    
    tr
      td
        span stuntyAssassination: 
      td
    tr
      td
        span stuntyBadInducementDeal: 
      td
    tr
      td
        span stuntyConfusion: 
      td
    tr
      td
        span stuntyHatredOfPublicTransport: 
      td
    tr
      td
        span stuntyInspiration: 
      td
    tr
      td
        span stuntyLastMinuteSwitch: 
      td
    tr
      td
        span stuntyMiscommunication: 