.mx-1 
  span.mx-2(data-bind="text: name" id="clanName")
  i.fa.fa-user-circle-o.mx-1(title="clan leader") 
  span.mx-2(data-bind="text: leader" id="clanLeader")
  span.mx-2(data-bind="text: division" id="division")
  // ko if: isClanLeader()
  button.btn.btn-success.btn-sm.my-1(data-bind="click:$root.onSaveClan, attr:{disabled: !isDirty()}" title="save clan") 
    i.fa.fa-save
  // /ko
  button.btn.btn-success.btn-sm.my-1.mx-1(data-bind="click:$root.onValidateClan" title="validate clan") 
    i.fa.fa-check-square 
    span Validate
  
  table.table.table-sm.table-responsive.table-borderless
    thead 
      tr 
        th.table-info coach 
        th.table-info reddit 
        th.table-info discord 
        th.table-info team name 
        th.table-info returning
        th.table-info normal team cost
        th.table-info skill tax
        th.table-info tier tax
        th.table-info total cost
        th.table-info  
    tbody(data-bind="foreach: members")
      tr
        td
          input(data-bind="value: coach" required)
        td
          span(data-bind="text: reddit")
        td
          span(data-bind="text: discord")
        //ko with: $root.getMemberTeam($index())
        td 
          // ko if: $root.isClanLeader() || isTeamOwner()
          input(data-bind="textInput: name, attr:{pattern:`\\\\u{5B}${$root.name}\\\\u{5D}.*S13`}" required maxlength="25")
          // /ko
          // ko if: !$root.isClanLeader() && !isTeamOwner()
          span(data-bind="text: name")
          // /ko
        td 
          button.btn.btn-sm(data-bind="{text: isReturningTeam ? 'yes' : 'no', click:toggleReturning, css: isReturningTeam ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-secondary', attr:{disabled:hasTraded()}}")
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(playerCost() + subTotalRerolls() )") 
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(superstarTax())") 
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(teamTax())") 
        td.data(data-bind="text: new Intl.NumberFormat('en-US').format(teamTotal())") 
        td.left-align
          .flex-container
            button.btn.btn-success.btn-sm.pull-right(title='save team', data-bind="click:$root.onSaveTeam, attr:{disabled: !isDirty()}")
              i.fa.fa-save
            button.btn.btn-sm.btn-info.pull-right(title='Edit team' data-bind="click:$root.onEditTeam")
              i.fa.fa-pencil-square-o

        // /ko  
        // ko if: !$root.getMemberTeam($index())
        td(colspan="7") &nbsp;
        // /ko
    tfoot 
      // ko if: division !== "Division 3"
      tr
        td.data(colspan="8")
          span Team Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.teamTotal()),css: isTeamCostValid() ? 'valid' : 'invalid'")  
      // /ko
      tr
        td.data(colspan="8")
          span Powers Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.powersTotal())")  
      tr
        td.data(colspan="7")
        td.data(colspan="1" data-bind="css: ledger.stuntyBudgetLeft() > 0 ? 'choose-race' : ''")
          //ko if: ledger.stuntyBudgetLeft() > 0
          i.fa.fa-info-circle.mx-1(title="Don't forget to spend you stunty power budget!")
          // /ko
          span Stunty Powers Total
        td.data(data-bind="css: ledger.stuntyBudgetLeft() > 0 ? 'choose-race' : ''")
          span(data-bind="text: new Intl.NumberFormat('en-US').format(ledger.stuntyTotal())")  
      tr
        td.data(colspan="8")
          span Clan Total
        td.data
          span(data-bind="text: new Intl.NumberFormat('en-US').format(cost()),css: isTotalCostValid() ? 'valid' : 'invalid'")  
  //ko template:{name:'clanPowersTemplate', data:ledger}
  // /ko

