script(type="text/html" id="clanTemplate")
  include clanTemplate.pug
script(type="text/html" id="clanPowersTemplate")
  include clanPowersTemplate.pug
script(type="text/html" id="registerClanTemplate")
  include registerClanTemplate.pug
script(type="text/html" id="teamTemplate")
  include teamTemplate.pug
script(type="text/html" id="playerTemplate")
  include playerTemplate.pug
script(type="text/html" id="addNewPlayerTemplate")
  include addNewPlayerTemplate.pug
script(type="text/html" id="playerSubtotals")
  include playerSubtotals.pug
script(type="text/html" id="teamTable")
  include teamTable.pug
script(type="text/html" id="rerollsTable")
  include rerollsTable.pug
script(type="text/html" id="costTable")
  include costTable.pug