.jumbotron
  h1.display-4 Welcome to ReBBL Clan Season 13
  p.lead If you are a clan leader you can register your new clan here.
  p If you are want to start a new clan and are not a clan leader yet, please ask a clan admin to give you the clan leader role before you can continue.

label(for="clanName") clan name
input(data-bind="value: name" id="clanName")
button.btn.btn-primary(data-bind="click:onRegisterClanClick") Register