button.btn.btn-primary.pull-right.mx-2(data-bind="click:$root.onTeamDoneClick") Done
// ko if: race
// ko if: !$root.locked
table.table.table-sm.table-borderless
  thead
    tr.table-info
      td(colspan='1' title='Name') Name 
      td(colspan='1' title='Position') Position 
      td(colspan='1' title='Movement Allowance') MA 
      td(colspan='1' title='Strength') ST 
      td(colspan='1' title='Agility') AG 
      td(colspan='1' title='Pass') PA 
      td(colspan='1' title='Armour Value') AV 
      td(colspan='1' title='Armour Value') SPP+ 
      td(colspan='1' title='Skills') Skills 
      td(colspan='1' title='Casualties') Casualties
      td.data(colspan='1' title='Current Value') Player Cost 
      td.data(colspan='1' title='Current Value')
  tbody
    // ko template: { name: 'addNewPlayerTemplate' }
    // /ko
br        
// /ko  
table(style="width:100%")
  thead
    tr.table-info
      td(colspan='1' title='Name') Name 
      td(colspan='1' title='Position') Position 
      td(colspan='1' title='Movement Allowance') MA 
      td(colspan='1' title='Strength') ST 
      td(colspan='1' title='Agility') AG 
      td(colspan='1' title='Armour Value') AV 
      td(colspan='1' title='SPP') SPP 
      td(colspan='1' title='SPP Surplus') SPP+ 
      td(colspan='1' title='SPP Spent on skilling') SPP- 
      td(colspan='1' title='Skills') Skills 
      td(colspan='1' title='Casualties') Casualties
      td.data(colspan='1' title='Current Value') Player Cost 
      td(colspan='1' title='Controls')  
  tbody(data-bind="template: { name: 'playerTemplate', foreach: roster, as: 'player' }")
// /ko

.tables
  // ko template: { name: 'teamTable' }
  // /ko
  // ko template: { name: 'rerollsTable' }
  // /ko
  // ko template: { name: 'costTable' }
  // /ko

.modal.fade#skillPlayerModal(aria-labelledby="skillPlayerModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title(id="skillPlayerModalLabel") You are about to trade SPP+
        button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
          <span aria-hidden="true">&times;</span>
      .modal-body
        p
          span You are about to skill 
          span(data-bind="text: skillingPlayer.name")
          span , at the cost of 
          span(data-bind="text: skillingPlayer.nextLevelSPP")
          span &nbsp;SPP+.
        p 
          b This is a permanent action! 
          br
          span Meaning that if you proceed, a dice roll will be made by rebbl.net, and the result is final.
          span &nbsp;You will not be able to undo this, not by changing team for this coach, switching to a non-returning team for this coach or sacking the player.

      .modal-footer
        button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cancel
        button(type="button" class="btn btn-primary" data-bind="click: skillPlayer, disabled:proceedDisabled") Proceed
