table.table.table-striped.table-sm.table-responsive
  tr
    th.table-info returning team
    td 
      // ko if: isReturningTeam
      a(data-bind="attr:{href:`https://rebbl.net/team/${returningTeam.id}`}, text:returningTeam.name" target="_blank")        
      // /ko
  tr
    th.table-info coach name
    td
      input(placeholder='Coach Name' data-bind="value: coach")
  tr
    th.table-info team name
    td
      input(data-bind="textInput: name, attr:{pattern:`\\\\u{5B}${$root.name}\\\\u{5D}.*S14`}" required maxlength="25")
  tr
    th.table-info race
    // ko if: race && roster.length > 0
    td 
      span(data-bind="text: race.name")
    // /ko
    // ko if: roster.length === 0
    td(data-bind="css:race ? '' : 'choose-race'") 
      select(data-bind="options: $root.races(), optionsText: 'name', value: race,optionsCaption: 'Choose...', enable: roster.length == 0")
    // /ko
  tr 
    th.table-info SPP+
    td.data(data-bind="css: sppSurplus() - spentSPP() >= 0 ? '' : 'choose-race'")
      // ko if: sppSurplus() - spentSPP() < 0
      i.fa.fa-info-circle.mx-1(title="You have traded outside of your SPP budget")
      // /ko
      span(data-bind="text: sppSurplus() - spentSPP()")
  tr 
    th.table-info tier 
    td.data(data-bind="text: teamTier()")
  tr
    th.table-info team value
    td.data
      span(data-bind="text: new Intl.NumberFormat('en-US').format(teamValue())")
