body{padding-top:82px !important;}
#bracket {overflow:hidden;background-color:rgba(225,225,225,0.9);font-size: 16px;padding-bottom: 40px}
.container-ko {margin: 0 25px;display:block;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: -webkit-flex;display: flex;-webkit-flex-direction:row;flex-direction: row;}
.split {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;width: 42%;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;color:#0e0e0e;}
.champion {float:left;display:block;width: 16%;-webkit-flex-direction:row;flex-direction:row;-webkit-align-self:center;align-self:center;margin: -178px 16px 0px 16px;text-align: center;} 
.champion i {color: #ceb234; font-size: 85px;padding: 10px 0; }
.round {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;width:25.0333%;}
.split-one .round {margin: 0 4px 0 0;}
.split-two .round {margin: 0 0 0 4px;}
.matchup {margin:0;width: 100%;padding: 0px 0;height:60px;-webkit-transition: all 0.2s;transition: all 0.2s;}
.split-one .score {font-size: 11px;text-transform: uppercase;;color: #2C7399;font-weight: bold;/*font-family: 'Roboto Condensed', sans-serif*/;position: absolute;right: 5px;display:inline-block}
.split-two .score {font-size: 11px;text-transform: uppercase;color: #2C7399;font-weight: bold;/*font-family: 'Roboto Condensed', sans-serif*/;position: absolute;left:5px;display:inline-block}
.split-one img{position: absolute;left:5px;top:1px;}
.split-two img{position: absolute;right:5px;top:1px;}
.split-two .teamname {width:calc(100% - 32px);display:inline-block;overflow:hidden;padding-left:10px}
.split-one .teamname {width:calc(100% - 42px);display:inline-block;overflow:hidden;margin-left:29px}
.team {padding: 0 5px;margin: 3px 0;height: 25px; line-height: 25px;white-space: nowrap; overflow: hidden;position: relative;}
.round-one .matchup {margin:0; /*height: 60px;padding: 30px 0;*/}

.round-two .matchup {margin:0; height: 120px;}
.round-three .matchup {margin:0; height: 240px;}
.round-four .matchup {margin:0; height: 120px; padding: 240px 0;}
.round-five .matchup {margin:0; height: 60px; padding: 480px 0;}
.round-six .matchup {margin:0; height: 60px; padding: 960px 0;}

.round-one .matchup:first-child {margin-top:21px;}
.round-two .matchup:first-child {margin-top:50px;}
.round-three .matchup:first-child {margin-top:110px;}

.round-details {/*font-family: 'Roboto Condensed', sans-serif*/ font-size: 13px; color: #2C7399;text-transform: uppercase;text-align: center;height: 40px;}
.champion li, .round li {background-color: #fff;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1}
.champion li {height: 65px;font-size: 20px;}
.champion .round-details{font-size:30px;}
li.looser {opacity: 0.45;}
li.looser {background-color: #fff;box-shadow: none; opacity: 0.45;}

div.semis-l ~ ul, div.semis-r ~ ul {margin-top:-140px !important}

li.highlight {background-color: #e67b00; color:#fff}
.vote-options {display: block;height: 52px;}
.final {margin: 4.5em 0;}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container-ko {margin: 0 1%;}
  .champion {width: 14%;}
  .split {width:43%; }
  .split-one .vote-box {margin-left: 138px;}
}

@media screen and (max-width: 980px) {
  .container-ko {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  .split, .champion {width: 90%;margin: 35px 5%;}
  .champion {-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;order:3;}
  .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
}


@media screen and (max-width: 400px) {

  .split {width: 95%;margin: 25px 2.5%;}
  .round {width:21%;}
  .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  .round-details {font-size: 90%;}

}

.spoiler, .spoiler > * {transition: color 0.5s, opacity 0.5s;}
.spoiler:not(:hover) > li {color: transparent;background-color: #fff;color: #0e0e0e;opacity: 1;}
.spoiler:not(:hover) .looser {opacity: 1;transition: opacity 0.5s;}
.spoiler .score {opacity:1; transition: opacity 0.5s;}
.spoiler:not(:hover) .score {opacity: 0;transition: opacity 0.5s;}

.played:after { content:url('https://cdn2.rebbl.net/images/played.png'); position:relative; z-index:1;top:-60px;} 
.split-one .round-one .played:after {text-align: right;float: right;top:-116px}
.split-one .round-two .played:after {text-align: right;float: right;top:-175px}
.split-one .round-three .played:after {text-align: right;float: right;top:-295pxpx}
.split-one .round-four .played:after {text-align: right;float: right;top:-240px}

.split-two .round-one .played:after { text-align: left;float: left;left:-5px;}
.split-two .round-two .played:after { text-align: left;float: left;left:-5px;top:-120px}
.split-two .round-three .played:after {text-align: left;float: left;left:-5px;top:-240px}
.split-two .round-four .played:after {text-align: left;float: left;left:-5px;top:-240px}

.spoiler:hover.played:after{opacity: 0;transition: color 0.5s, opacity 0.5s}

.round-one .gameinfo{height:60px}
.round-two .gameinfo{height:120px}
.round-three .gameinfo{height:240px}
.gameinfo .info{opacity: 0;transition: opacity 0.5s}
.gameinfo:hover .info{opacity: 1;transition: opacity 0.5s}
.split-two .info {float:right;text-align: right}
.round-one .info {background-image: url("https://cdn2.rebbl.net//images/gameinfo.png");width:34px;height: 53px;top:-60px;z-index:1;position: relative;}
.round-two .info {background-image: url("https://cdn2.rebbl.net//images/gameinfo.png");width:34px;height: 53px;top:-120px;z-index:1;position: relative;}
.round-three .info {background-image: url("https://cdn2.rebbl.net//images/gameinfo.png");width:34px;height: 53px;top:-240px;z-index:1;position: relative;}
.round-four .info {background-image: url("https://cdn2.rebbl.net//images/gameinfo.png");width:34px;height: 53px;top:-237px;z-index:1;position: relative;}

.modal-content:before {content:"";background-image:url("https://cdn2.rebbl.net//images/modal-coach.png");background-size:cover;opacity: 0.5;position: absolute;top:0;right:0;bottom:0;left:0;}
.modal-header {border-bottom: none !important}
.modal-footer {border-top: none !important}

.round-four .gameinfo:nth-child(3n) .matchup {padding-top: 120px;}

.modal-content a{color: rgb(230, 123, 0);box-sizing: border-box;border-radius: 4px;padding:15px}
.modal-header a{background-color: rgba(62, 62, 62, 0.45)}
.modal-header {padding-bottom: 0}
.modal-content  h1 {margin-top:0;margin-bottom:0;font-size:5rem}

.modal-content .col-1,.modal-content .col-2,.modal-content .col-3,.modal-content .col-4,.modal-content .col-5,.modal-content .col-6,.modal-content .col-7,.modal-content .col-8,.modal-content .col-9,.modal-content .col-10,.modal-content .col-11,.modal-content .col-12 {padding-left:0px; padding-right:0px}


.modal-image  {
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
}
.modal-image-right{  background-position: right;  margin-top: -158px;padding-top: 160px;}
.modal-image-left{  background-position: left;  margin-bottom: -158px;padding-bottom: 160px;}


.winner {color:rgb(24, 119, 162);}


@media screen and (min-width: 600px) {
  .modal-content a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .modal-content a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px){
  .modal-content a {
    font-size: 2rem;
  }
}



@media (min-width: 1200px) {
  .modal-lg {
      max-width:1000px;
  }
}
.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:60px;
  height:30px;
  margin:8px;
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:30px;
  box-shadow:0 0 0 2px #777, 0 0 4px #777;
  cursor:pointer;
  border:4px solid transparent;
  overflow:hidden;
   transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:#777;
  border-radius:30px;
  transform:translateX(-30px);
  transition:.4s;
}

input:checked + .slider:before {
  transform:translateX(30px);
  background:limeGreen;
}
input:checked + .slider {
  box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}