.slider-frame {
   
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .slider-frame .btn {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 1000;
  }
  .slider-frame .btn.prev {
    left: 0px;
  }
  .slider-frame .btn.next {
    right: 0px;
  }
  .slider-frame .slider-container {
    transition: margin-left 0.2s ease, left 0.5s ease;
    position: absolute;
    left: 0;
  }
  .slider-frame .slider-container .slide {
    /*background-color: #f00;*/
    float: left;
    position: relative;
    top: 0;
    transition: width 0.2s ease, height 0.2s ease, top 0.2s ease;
  }
.slide-overflow, .slide-gutter {height:inherit}
.slide-overflow {overflow:hidden}