extends ../no-cache-sub-relayout.pug

block prepend vars
  - let options = {active: "coach", title: " ",company:"Coach" }
  
block navigation
  .navbar-nav.mr-auto
    +nav-item("Details", "details")
    - if (renderExtra || teams || matches)  
      +nav-item("Teams", "teams")
      +nav-item("Matches", "matches")
      +nav-item("Trophies", "trophies")